In [1]:
import pandas as pd
import numpy as np

In [2]:
top = pd.read_csv('top50.csv')
top

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Se�orita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94
5,6,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84
6,7,Ransom,Lil Tecca,trap music,180,64,75,-6,7,23,131,2,29,92
7,8,How Do You Sleep?,Sam Smith,pop,111,68,48,-5,8,35,202,15,9,90
8,9,Old Town Road - Remix,Lil Nas X,country rap,136,62,88,-6,11,64,157,5,10,87
9,10,bad guy,Billie Eilish,electropop,135,43,70,-11,10,56,194,33,38,95
10,11,Callaita,Bad Bunny,reggaeton,176,62,61,-5,24,24,251,60,31,93
11,12,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,96,71,82,-4,15,38,185,28,7,86
12,13,Someone You Loved,Lewis Capaldi,pop,110,41,50,-6,11,45,182,75,3,88
13,14,Otro Trago - Remix,Sech,panamanian pop,176,79,73,-2,6,76,288,7,20,87
14,15,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,101,50,83,-4,12,10,205,10,5,92
15,16,No Guidance (feat. Drake),Chris Brown,dance pop,93,45,70,-7,16,14,261,12,15,82
16,17,LA CANCI�N,J Balvin,latin,176,65,75,-6,11,43,243,15,32,90
17,18,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,90,48,76,-6,7,91,158,56,5,91
18,19,Lalala,Y2K,canadian hip hop,130,39,84,-8,14,50,161,18,8,88
19,20,Truth Hurts,Lizzo,escape room,158,62,72,-3,12,41,173,11,11,91
20,21,Piece Of Your Heart,MEDUZA,pop house,124,74,68,-7,7,63,153,4,3,91
21,22,Panini,Lil Nas X,country rap,154,59,70,-6,12,48,115,34,8,91
22,23,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,92,79,81,-4,9,58,309,14,7,83
23,24,Soltera - Remix,Lunay,latin,92,78,80,-4,44,80,266,36,4,91
24,25,bad guy (with Justin Bieber),Billie Eilish,electropop,135,45,67,-11,12,68,195,25,30,89
25,26,If I Can't Have You,Shawn Mendes,canadian pop,124,82,69,-4,13,87,191,49,6,70
26,27,Dance Monkey,Tones and I,australian pop,98,59,82,-6,18,54,210,69,10,83
27,28,It's You,Ali Gatie,canadian hip hop,96,46,73,-7,19,40,213,37,3,89
28,29,Con Calma,Daddy Yankee,latin,94,86,74,-3,6,66,193,11,6,91
29,30,QUE PRETENDES,J Balvin,latin,93,79,64,-4,36,94,222,3,25,89
30,31,Takeaway,The Chainsmokers,edm,85,51,29,-8,10,36,210,12,4,84
31,32,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89
32,33,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89
33,34,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,98,59,80,-7,13,18,200,2,15,89
34,35,Never Really Over,Katy Perry,dance pop,100,88,77,-5,32,39,224,19,6,89
35,36,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,114,72,66,-7,14,32,164,18,6,89
36,37,Otro Trago,Sech,panamanian pop,176,70,75,-5,11,62,226,14,34,91
37,38,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87
38,39,Sucker,Jonas Brothers,boy band,138,73,84,-5,11,95,181,4,6,80
39,40,"fuck, i'm lonely (with Anne-Marie) - from �13 ...",Lauv,dance pop,95,56,81,-6,6,68,199,48,7,78
40,41,Higher Love,Kygo,edm,104,68,69,-7,10,40,228,2,3,88
41,42,You Need To Calm Down,Taylor Swift,dance pop,85,68,77,-6,7,73,171,1,5,90
42,43,Shallow,Lady Gaga,dance pop,96,39,57,-6,23,32,216,37,3,87
43,44,Talk,Khalid,pop,136,40,90,-9,6,35,198,5,13,84
44,45,Con Altura,ROSAL�A,r&b en espanol,98,69,88,-4,5,75,162,39,12,88
45,46,One Thing Right,Marshmello,brostep,88,62,66,-2,58,44,182,7,5,88
46,47,Te Robar�,Nicky Jam,latin,176,75,67,-4,8,80,202,24,6,88
47,48,Happier,Marshmello,brostep,100,79,69,-3,17,67,214,19,5,88
48,49,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88
49,50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,95,79,75,-6,7,61,206,21,12,82

In [3]:
top['Genre'].unique()

array(['canadian pop', 'reggaeton flow', 'dance pop', 'pop', 'dfw rap',
       'trap music', 'country rap', 'electropop', 'reggaeton',
       'panamanian pop', 'canadian hip hop', 'latin', 'escape room',
       'pop house', 'australian pop', 'edm', 'atl hip hop', 'big room',
       'boy band', 'r&b en espanol', 'brostep'], dtype=object)

In [4]:
top['Genre'].nunique()

21

In [5]:
top['Genre'].value_counts()

dance pop           8
pop                 7
latin               5
canadian hip hop    3
edm                 3
reggaeton           2
reggaeton flow      2
panamanian pop      2
canadian pop        2
electropop          2
country rap         2
dfw rap             2
brostep             2
trap music          1
escape room         1
pop house           1
australian pop      1
atl hip hop         1
big room            1
boy band            1
r&b en espanol      1
Name: Genre, dtype: int64

In [6]:
top['Length.'].sum()

10048

In [7]:
def min_sec(seconds):
    minutes = seconds // 60
    seconds = seconds % 60
    return f"{minutes:02d}:{seconds:02d}"

In [8]:
min_sec(123)

'02:03'

In [9]:
top['Length.'].apply(min_sec).head()

0    03:11
1    05:02
2    03:06
3    03:18
4    02:55
Name: Length., dtype: object

In [10]:
top['Length.Pretty'] = top['Length.'].apply(min_sec)

In [11]:
top.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
0,1,Se�orita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79,03:11
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92,05:02
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85,03:06
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,03:18
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94,02:55

In [12]:
top['Energy'].apply(lambda value: round(value / 10, 1)).head()

0    5.5
1    8.1
2    8.0
3    6.5
4    6.5
Name: Energy, dtype: float64

In [13]:
top.columns

Index(['Unnamed: 0', 'Track.Name', 'Artist.Name', 'Genre', 'Beats.Per.Minute',
       'Energy', 'Danceability', 'Loudness..dB..', 'Liveness', 'Valence.',
       'Length.', 'Acousticness..', 'Speechiness.', 'Popularity',
       'Length.Pretty'],
      dtype='object')

In [14]:
top.index

RangeIndex(start=0, stop=50, step=1)

In [15]:
print(list(range(0, 50, 1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [16]:
top.shape

(50, 15)

In [18]:
top.sort_values('Track.Name').head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
32,33,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89,02:56
31,32,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89,02:59
37,38,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87,02:42
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,03:18
48,49,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88,03:38

In [21]:
top.drop('Unnamed: 0', axis=1, inplace=True)

In [33]:
top['Position'] = range(1, 51)
top.set_index('Position', inplace=True)
# top.drop('Position', axis=1, inplace=True)
top.head()

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
Position,,,,,,,,,,,,,,
1,Se�orita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79,03:11
2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92,05:02
3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85,03:06
4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,03:18
5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94,02:55

In [27]:
top.to_csv('sutvarkyti_top50.csv')

In [9]:
data_xls = pd.read_excel('example.xls')
data_xls.head()

   Numeris               Seniūnija     Plotas  Gyventojų skaičius
0        1        Verkių seniūnija  55,65 km²               49359
1        2    Antakalnio seniūnija   77,2 km²               39758
2        3    Pašilaičių seniūnija    8,2 km²               39543
3        4  Fabijoniškių seniūnija    4,1 km²               38253
4        5      Pilaitės seniūnija   13,8 km²               26376

In [10]:
data_xls.to_excel('example_done.xls', sheet_name='Something Else', engine='openpyxl')

In [2]:
duomenys_html = pd.read_html('https://lt.wikipedia.org/wiki/Vilniaus_miesto_savivaldyb%C4%97')
duomenys_html

[   Vilniaus miesto savivaldybė Vilniaus miesto savivaldybė.1
 0                          NaN                           NaN
 1                          NaN                           NaN
 2                          NaN                           NaN
 3                          NaN                           NaN
 4                          NaN                           NaN
 5                          NaN                           NaN
 6                     Valstybė                       Lietuva
 7                    Apskritis            Vilniaus apskritis
 8      Administracinis centras                       Vilnius
 9           Seniūnijų skaičius                            21
 10                Įkūrimo data                       1995 m.
 11                       Meras    Remigijus Šimašius (2019–)
 12                         NaN                           NaN
 13                   Gyventojų                    625 349[1]
 14                      Plotas                       401 km²
 15                    Tankumas                 1 559 žm./km²
 16           Aukščiausia vieta   230,7 m (Rokantiškių kalva)
 17                         NaN                           NaN
 18                 Tinklalapis                    vilnius.lt
 19                    Vikiteka   Vilniaus miesto savivaldybė,
                                                     0  \
 0   Ž • A • RVilniaus miesto savivaldybės saugomos...
 1   Ž • A • RVilniaus miesto savivaldybės saugomos...
 2                                                 NaN
 3                             Valstybiniai rezervatai
 4                                                 NaN
 5                                  Regioniniai parkai
 6                                                 NaN
 7                            Valstybiniai draustiniai
 8                                                 NaN
 9                            Savivaldybės draustiniai
 10                                                NaN
 11                                   Gamtos paminklai
 12                                                NaN
 13               Valstybiniai gamtos paveldo objektai
 14                                                NaN
 15               Savivaldybės gamtos paveldo objektai

                                                     1
 0                                                 NaN
 1   Ž • A • RVilniaus miesto savivaldybės saugomos...
 2                                                 NaN
 3                Vilniaus pilių kultūrinis rezervatas
 4                                                 NaN
 5   Pavilnių regioninis parkas • Verkių regioninis...
 6                                                 NaN
 7   Dvarčionių geomorfologinis • Griovių geomorfol...
 8                                                 NaN
 9   Aukštagirio geomorfologinis • Cedrono aukštupi...
 10                                                NaN
 11  Plikakalnio atodanga • Pūčkorių atodanga • Šeš...
 12                                                NaN
 13              Aukštųjų Panerių geležinkelio tunelis
 14                                                NaN
 15  Antakalnio parko kedrinė pušis • Aštuonių klev...  ,
    Ž • A • RVilniaus miesto savivaldybės saugomos teritorijos  \
 0                                                 NaN
 1                             Valstybiniai rezervatai
 2                                                 NaN
 3                                  Regioniniai parkai
 4                                                 NaN
 5                            Valstybiniai draustiniai
 6                                                 NaN
 7                            Savivaldybės draustiniai
 8                                                 NaN
 9                                    Gamtos paminklai
 10                                                NaN
 11               Valstybiniai gamtos paveldo objektai
 12                                                NaN
 13               Savivaldybės gamtos paveldo objektai

    Ž • A • RVilniaus miesto savivaldybės saugomos teritorijos.1
 0                                                 NaN
 1                Vilniaus pilių kultūrinis rezervatas
 2                                                 NaN
 3   Pavilnių regioninis parkas • Verkių regioninis...
 4                                                 NaN
 5   Dvarčionių geomorfologinis • Griovių geomorfol...
 6                                                 NaN
 7   Aukštagirio geomorfologinis • Cedrono aukštupi...
 8                                                 NaN
 9   Plikakalnio atodanga • Pūčkorių atodanga • Šeš...
 10                                                NaN
 11              Aukštųjų Panerių geležinkelio tunelis
 12                                                NaN
 13  Antakalnio parko kedrinė pušis • Aštuonių klev...            ,
              0                 1            2
 0          NaN       54° 49′ 20″          NaN
 1  25° 01′ 40″  Vilniaus miestas  25° 28′ 50″
 2          NaN               NaN          NaN
 3          NaN  Vilniaus miestas          NaN
 4          NaN               NaN          NaN
 5          NaN       54° 34′ 00″          NaN,
     0                 1   2
 0 NaN               NaN NaN
 1 NaN  Vilniaus miestas NaN
 2 NaN               NaN NaN,
                              0  \
 0                          NaN
 1  2001 m. gyventojų surašymas
 2          2009 m. gyvenvietės
 3  2011 m. gyventojų surašymas
 4          2016 m. gyvenvietės
 5         2020 m. suskirstymas
 6  2021 m. gyventojų surašymas

                                                  1
 0  Vilniaus miesto savivaldybės istoriniai sąrašai
 1                      2001 m. gyventojų surašymas
 2                              2009 m. gyvenvietės
 3                      2011 m. gyventojų surašymas
 4                              2016 m. gyvenvietės
 5                             2020 m. suskirstymas
 6                      2021 m. gyventojų surašymas  ,
    Savivaldybės istorija                            \
                    Metai Plotas, km² Gyventojų sk.
 0                1942 m.         NaN       146 300
 1                1949 m.       139.0           NaN
 2                1957 m.         NaN           NaN
 3                1959 m.       142.0       230 769
 4                1967 m.       153.0       316 400
 5                1970 m.       265.0       372 100
 6                1972 m.       262.0           NaN
 7                1976 m.       263.0       445 900
 8                1979 m.         NaN       475 825
 9                1988 m.       287.0       577 000
 10               1989 m.       287.0       576 747
 11               1999 m.       401.0       588 400
 12    2001 m. (Išsamiau)       401.0       553 904

                                             \
                               Suskirstymas
 0                                      NaN
 1   5 miesto rajonai (11 miesto apylinkių)
 2                         4 miesto rajonai
 3                         4 miesto rajonai
 4                                      NaN
 5                         4 miesto rajonai
 6                         4 miesto rajonai
 7                                      NaN
 8                         4 miesto rajonai
 9                         4 miesto rajonai
 10                                     NaN
 11                                     NaN
 12                            21 seniūnija


                                  Gyvenvietės
 0                                        NaN
 1                                        NaN
 2                                        NaN
 3                        1 miestas (Vilnius)
 4                                        NaN
 5                                  1 miestas
 6                                  1 miestas
 7                                  1 miestas
 8                                  1 miestas
 9                                  1 miestas
 10                                 1 miestas
 11                                       NaN
 12  2 miestai (Grigiškės, Vilnius), 3 kaimai  ,
                                            0  \
 0  Demografinė raida tarp 1959 m. ir 2023 m.
 1                                1959 m.sur.
 2                                    230 769
 3                                    2019 m.
 4                                    552 131
 5             Demografinės raidos histograma
 6             Demografinės raidos histograma
 7                                        NaN

                                            1  \
 0  Demografinė raida tarp 1959 m. ir 2023 m.
 1                                1970 m.sur.
 2                                    372 100
 3                             2021 m.sur.[2]
 4                                    556 490
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            2  \
 0  Demografinė raida tarp 1959 m. ir 2023 m.
 1                                1979 m.sur.
 2                                    475 825
 3                                    2022 m.
 4                                    592 389
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            3  \
 0  Demografinė raida tarp 1959 m. ir 2023 m.
 1                                1989 m.sur.
 2                                    576 747
 3                                 2023 m.[1]
 4                                    625 349
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            4  \
 0  Demografinė raida tarp 1959 m. ir 2023 m.
 1                                2001 m.sur.
 2                                    553 904
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            5  \
 0  Demografinė raida tarp 1959 m. ir 2023 m.
 1                                    2005 m.
 2                                    560 190
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            6
 0  Demografinė raida tarp 1959 m. ir 2023 m.
 1                                2011 m.sur.
 2                                    538 968
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN  ,
 Empty DataFrame
 Columns: [Demografinės raidos histograma]
 Index: [],
                        Seniūnija     Plotas  Gyventojai (2020 m.) [3]
 0           Antakalnio seniūnija   77,2 km²                     40637
 1         Fabijoniškių seniūnija    4,1 km²                     38237
 2            Grigiškių seniūnija    7,1 km²                     11466
 3          Justiniškių seniūnija   2,98 km²                     26818
 4         Karoliniškių seniūnija    4,0 km²                     25532
 5              Lazdynų seniūnija   10,3 km²                     32325
 6         Naujamiesčio seniūnija    4,8 km²                     32280
 7           Naujininkų seniūnija   41,1 km²                     31568
 8    Naujosios Vilnios seniūnija   39,3 km²                     38571
 9              Panerių seniūnija  84,94 km²                     10367
 10          Pašilaičių seniūnija    8,2 km²                     40823
 11            Pilaitės seniūnija   13,8 km²                     27725
 12                Rasų seniūnija   12,7 km²                     11592
 13         Senamiesčio seniūnija    4,5 km²                     22000
 14            Šeškinės seniūnija    4,4 km²                     29885
 15           Šnipiškių seniūnija   3,12 km²                     15603
 16              Verkių seniūnija  55,65 km²                     50688
 17           Vilkpėdės seniūnija   10,3 km²                     19720
 18         Viršuliškių seniūnija    2,5 km²                     14153
 19             Žirmūnų seniūnija    8,5 km²                     44079
 20             Žvėryno seniūnija    2,7 km²                     13620
 21  Nedeklaravę gyvenamos vietos        NaN                      8936,
                                                    0  \
 0  Almata, Kazachija  Astana, Kazachija  Briuseli...

                                                    1  \
 0  Erfurtas, Vokietija  Gdanskas, Lenkija  Guangd...

                                                    2  \
 0  Madisonas, JAV  Olborgas, Danija  Oslas, Norve...

                                                    3
 0  Stokholmas, Švedija  Strasbūras, Prancūzija  T...  ,
                               Unnamed: 0  \
 0                                    NaN
 1                                   2018
 2            Bendros valstybės paslaugos
 3                                 Gynyba
 4   Viešoji tvarka ir visuomenės apsauga
 5                              Ekonomika
 6                       Aplinkos apsauga
 7             Būstas ir komunalinis ūkis
 8                      Sveikatos apsauga
 9           Poilsis, kultūra ir religija
 10                             Švietimas
 11                     Socialinė apsauga
 12   Finansinio turto įsigijimo išlaidos
 13                              Iš viso:

    Savivaldybių biudžetų išlaidos tūkst. EUR[5]  \
 0                                           NaN
 1                                          2019
 2                                      68 863,6
 3                                          2121
 4                                       2 291,5
 5                                      42 232,1
 6                                      37 201,0
 7                                      74 410,2
 8                                      10 332,8
 9                                      22 314,5
 10                                    287 404,2
 11                                     63 697,6
 12                                           00
 13                                    608 959,6

    Savivaldybių biudžetų išlaidos tūkst. EUR[5].1
 0                                             NaN
 1                                             NaN
 2                                        52 206,7
 3                                            1688
 4                                         2 719,1
 5                                        58 094,6
 6                                        42 331,2
 7                                        77 406,8
 8                                        15 268,8
 9                                        22 904,7
 10                                      324 714,5
 11                                       64 796,4
 12                                           5901
 13                                      661 201,7  ,
                                            Unnamed: 0  \
 0                                                 NaN
 1                                                2018
 2                                           Mokesčiai
 3                           Gyventojų pajamų mokestis
 4                                     Turto mokesčiai
 5                        Prekių ir paslaugų mokesčiai
 6                                           Dotacijos
 7                Lėšos pagal tarpusavio atsiskaitymus
 8                                       Kitos pajamos
 9   Sandoriai dėl materialiojo ir nematerialiojo t...
 10                                       Viso pajamų:

    Savivaldybių biudžetų pajamos tūkst. EUR[6]  \
 0                                          NaN
 1                                         2019
 2                                    337 133,5
 3                                    295 265,4
 4                                     40 527,3
 5                                      1 340,8
 6                                    202 933,3
 7                                            −
 8                                     56 652,6
 9                                      7 075,9
 10                                   603 795,3

    Savivaldybių biudžetų pajamos tūkst. EUR[6].1
 0                                            NaN
 1                                            NaN
 2                                      358 667,0
 3                                      314 283,1
 4                                        2 719,1
 5                                        1 348,4
 6                                      221 896,0
 7                                              −
 8                                       69 536,4
 9                                       10 213,8
 10                                     660 313,2  ,
                                                     0  \
 0   Ž • A • RLietuvos administracinis suskirstymas...
 1   Ž • A • RLietuvos administracinis suskirstymas...
 2                                                 NaN
 3                                   Alytaus apskritis
 4                                                 NaN
 5                                     Kauno apskritis
 6                                                 NaN
 7                                 Klaipėdos apskritis
 8                                                 NaN
 9                              Marijampolės apskritis
 10                                                NaN
 11                                Panevėžio apskritis
 12                                                NaN
 13                                  Šiaulių apskritis
 14                                                NaN
 15                                 Tauragės apskritis
 16                                                NaN
 17                                   Telšių apskritis
 18                                                NaN
 19                                   Utenos apskritis
 20                                                NaN
 21                                 Vilniaus apskritis

                                                     1  \
 0                                                 NaN
 1   Ž • A • RLietuvos administracinis suskirstymas...
 2                                                 NaN
 3   · Alytaus miesto savivaldybė · Alytaus rajono ...
 4                                                 NaN
 5   · Birštono savivaldybė · Jonavos rajono saviva...
 6                                                 NaN
 7   · Klaipėdos miesto savivaldybė · Klaipėdos raj...
 8                                                 NaN
 9   · Kalvarijos savivaldybė · Kazlų Rūdos savival...
 10                                                NaN
 11  · Biržų rajono savivaldybė · Kupiškio rajono s...
 12                                                NaN
 13  · Akmenės rajono savivaldybė · Joniškio rajono...
 14                                                NaN
 15  · Jurbarko rajono savivaldybė · Pagėgių saviva...
 16                                                NaN
 17  · Mažeikių rajono savivaldybė · Plungės rajono...
 18                                                NaN
 19  · Anykščių rajono savivaldybė · Ignalinos rajo...
 20                                                NaN
 21  · Elektrėnų savivaldybė · Šalčininkų rajono sa...

                                                     2
 0                                                 NaN
 1   Ž • A • RLietuvos administracinis suskirstymas...
 2                                                 NaN
 3                                                 NaN

In [3]:
savivaldos = duomenys_html[9]
savivaldos.head()

                Seniūnija    Plotas  Gyventojai (2020 m.) [3]
0    Antakalnio seniūnija  77,2 km²                     40637
1  Fabijoniškių seniūnija   4,1 km²                     38237
2     Grigiškių seniūnija   7,1 km²                     11466
3   Justiniškių seniūnija  2,98 km²                     26818
4  Karoliniškių seniūnija   4,0 km²                     25532

In [4]:
savivaldos.sort_values(savivaldos.columns[2], ascending=False, inplace=True)

In [5]:
savivaldos.shape

(22, 3)

In [6]:
savivaldos['id'] = range(1, 23)
savivaldos.set_index('id')

                       Seniūnija     Plotas  Gyventojai (2020 m.) [3]
id
1               Verkių seniūnija  55,65 km²                     50688
2              Žirmūnų seniūnija    8,5 km²                     44079
3           Pašilaičių seniūnija    8,2 km²                     40823
4           Antakalnio seniūnija   77,2 km²                     40637
5    Naujosios Vilnios seniūnija   39,3 km²                     38571
6         Fabijoniškių seniūnija    4,1 km²                     38237
7              Lazdynų seniūnija   10,3 km²                     32325
8         Naujamiesčio seniūnija    4,8 km²                     32280
9           Naujininkų seniūnija   41,1 km²                     31568
10            Šeškinės seniūnija    4,4 km²                     29885
11            Pilaitės seniūnija   13,8 km²                     27725
12         Justiniškių seniūnija   2,98 km²                     26818
13        Karoliniškių seniūnija    4,0 km²                     25532
14         Senamiesčio seniūnija    4,5 km²                     22000
15           Vilkpėdės seniūnija   10,3 km²                     19720
16           Šnipiškių seniūnija   3,12 km²                     15603
17         Viršuliškių seniūnija    2,5 km²                     14153
18             Žvėryno seniūnija    2,7 km²                     13620
19                Rasų seniūnija   12,7 km²                     11592
20           Grigiškių seniūnija    7,1 km²                     11466
21             Panerių seniūnija  84,94 km²                     10367
22  Nedeklaravę gyvenamos vietos        NaN                      8936

In [8]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///duomenys.db')

In [26]:
savivaldos.to_sql('savivaldos', engine, index=True)

22

In [11]:
duomenys_sql = pd.read_sql_table('savivaldos', con=engine)
duomenys_sql.head()

   index                    Seniūnija     Plotas  Gyventojai (2020 m.) [3]  id
0     16             Verkių seniūnija  55,65 km²                     50688   1
1     19            Žirmūnų seniūnija    8,5 km²                     44079   2
2     10         Pašilaičių seniūnija    8,2 km²                     40823   3
3      0         Antakalnio seniūnija   77,2 km²                     40637   4
4      8  Naujosios Vilnios seniūnija   39,3 km²                     38571   5