# Iterator/Generator

In [2]:
def poriniai(iki):
    count = 2
    while count <= iki:
        yield count
        count += 2

In [3]:
skaiciuojam = poriniai(99)

In [4]:
print(next(skaiciuojam))

2

In [5]:
for skaicius in skaiciuojam:
    print(skaicius)

4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [6]:
def fib(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

In [7]:
ats = fib(45)
print(list(ats))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733]

In [8]:
kodas = "1149"
def lauziam_koda():
    skaicius = 0
    while skaicius < 10000:
        spejimas = f'{skaicius:04}'
        if spejimas == kodas:
            print(f'{spejimas} yra tai, ko jus ieskote')
            break
        yield spejimas
        skaicius += 1

In [9]:
bandom = lauziam_koda()
while True:
    try:
        print(next(bandom))
    except StopIteration:
        break

0000
0001
0002
0003
0004
0005
0006
0007
0008
0009
0010
0011
0012
0013
0014
0015
0016
0017
0018
0019
0020
0021
0022
0023
0024
0025
0026
0027
0028
0029
0030
0031
0032
0033
0034
0035
0036
0037
0038
0039
0040
0041
0042
0043
0044
0045
0046
0047
0048
0049
0050
0051
0052
0053
0054
0055
0056
0057
0058
0059
0060
0061
0062
0063
0064
0065
0066
0067
0068
0069
0070
0071
0072
0073
0074
0075
0076
0077
0078
0079
0080
0081
0082
0083
0084
0085
0086
0087
0088
0089
0090
0091
0092
0093
0094
0095
0096
0097
0098
0099
0100
0101
0102
0103
0104
0105
0106
0107
0108
0109
0110
0111
0112
0113
0114
0115
0116
0117
0118
0119
0120
0121
0122
0123
0124
0125
0126
0127
0128
0129
0130
0131
0132
0133
0134
0135
0136
0137
0138
0139
0140
0141
0142
0143
0144
0145
0146
0147
0148
0149
0150
0151
0152
0153
0154
0155
0156
0157
0158
0159
0160
0161
0162
0163
0164
0165
0166
0167
0168
0169
0170
0171
0172
0173
0174
0175
0176
0177
0178
0179
0180
0181
0182
0183
0184
0185
0186
0187
0188
0189
0190
0191
0192
0193
0194
0195
0196
0197
0198
0199
0200
0201
0202
0203
0204
0205
0206
0207
0208
0209
0210
0211
0212
0213
0214
0215
0216
0217
0218
0219
0220
0221
0222
0223
0224
0225
0226
0227
0228
0229
0230
0231
0232
0233
0234
0235
0236
0237
0238
0239
0240
0241
0242
0243
0244
0245
0246
0247
0248
0249
0250
0251
0252
0253
0254
0255
0256
0257
0258
0259
0260
0261
0262
0263
0264
0265
0266
0267
0268
0269
0270
0271
0272
0273
0274
0275
0276
0277
0278
0279
0280
0281
0282
0283
0284
0285
0286
0287
0288
0289
0290
0291
0292
0293
0294
0295
0296
0297
0298
0299
0300
0301
0302
0303
0304
0305
0306
0307
0308
0309
0310
0311
0312
0313
0314
0315
0316
0317
0318
0319
0320
0321
0322
0323
0324
0325
0326
0327
0328
0329
0330
0331
0332
0333
0334
0335
0336
0337
0338
0339
0340
0341
0342
0343
0344
0345
0346
0347
0348
0349
0350
0351
0352
0353
0354
0355
0356
0357
0358
0359
0360
0361
0362
0363
0364
0365
0366
0367
0368
0369
0370
0371
0372
0373
0374
0375
0376
0377
0378
0379
0380
0381
0382
0383
0384
0385
0386
0387
0388
0389
0390
0391
0392
0393
0394
0395
0396
0397
0398
0399
0400
0401
0402
0403
0404
0405
0406
0407
0408
0409
0410
0411
0412
0413
0414
0415
0416
0417
0418
0419
0420
0421
0422
0423
0424
0425
0426
0427
0428
0429
0430
0431
0432
0433
0434
0435
0436
0437
0438
0439
0440
0441
0442
0443
0444
0445
0446
0447
0448
0449
0450
0451
0452
0453
0454
0455
0456
0457
0458
0459
0460
0461
0462
0463
0464
0465
0466
0467
0468
0469
0470
0471
0472
0473
0474
0475
0476
0477
0478
0479
0480
0481
0482
0483
0484
0485
0486
0487
0488
0489
0490
0491
0492
0493
0494
0495
0496
0497
0498
0499
0500
0501
0502
0503
0504
0505
0506
0507
0508
0509
0510
0511
0512
0513
0514
0515
0516
0517
0518
0519
0520
0521
0522
0523
0524
0525
0526
0527
0528
0529
0530
0531
0532
0533
0534
0535
0536
0537
0538
0539
0540
0541
0542
0543
0544
0545
0546
0547
0548
0549
0550
0551
0552
0553
0554
0555
0556
0557
0558
0559
0560
0561
0562
0563
0564
0565
0566
0567
0568
0569
0570
0571
0572
0573
0574
0575
0576
0577
0578
0579
0580
0581
0582
0583
0584
0585
0586
0587
0588
0589
0590
0591
0592
0593
0594
0595
0596
0597
0598
0599
0600
0601
0602
0603
0604
0605
0606
0607
0608
0609
0610
0611
0612
0613
0614
0615
0616
0617
0618
0619
0620
0621
0622
0623
0624
0625
0626
0627
0628
0629
0630
0631
0632
0633
0634
0635
0636
0637
0638
0639
0640
0641
0642
0643
0644
0645
0646
0647
0648
0649
0650
0651
0652
0653
0654
0655
0656
0657
0658
0659
0660
0661
0662
0663
0664
0665
0666
0667
0668
0669
0670
0671
0672
0673
0674
0675
0676
0677
0678
0679
0680
0681
0682
0683
0684
0685
0686
0687
0688
0689
0690
0691
0692
0693
0694
0695
0696
0697
0698
0699
0700
0701
0702
0703
0704
0705
0706
0707
0708
0709
0710
0711
0712
0713
0714
0715
0716
0717
0718
0719
0720
0721
0722
0723
0724
0725
0726
0727
0728
0729
0730
0731
0732
0733
0734
0735
0736
0737
0738
0739
0740
0741
0742
0743
0744
0745
0746
0747
0748
0749
0750
0751
0752
0753
0754
0755
0756
0757
0758
0759
0760
0761
0762
0763
0764
0765
0766
0767
0768
0769
0770
0771
0772
0773
0774
0775
0776
0777
0778
0779
0780
0781
0782
0783
0784
0785
0786
0787
0788
0789
0790
0791
0792
0793
0794
0795
0796
0797
0798
0799
0800
0801
0802
0803
0804
0805
0806
0807
0808
0809
0810
0811
0812
0813
0814
0815
0816
0817
0818
0819
0820
0821
0822
0823
0824
0825
0826
0827
0828
0829
0830
0831
0832
0833
0834
0835
0836
0837
0838
0839
0840
0841
0842
0843
0844
0845
0846
0847
0848
0849
0850
0851
0852
0853
0854
0855
0856
0857
0858
0859
0860
0861
0862
0863
0864
0865
0866
0867
0868
0869
0870
0871
0872
0873
0874
0875
0876
0877
0878
0879
0880
0881
0882
0883
0884
0885
0886
0887
0888
0889
0890
0891
0892
0893
0894
0895
0896
0897
0898
0899
0900
0901
0902
0903
0904
0905
0906
0907
0908
0909
0910
0911
0912
0913
0914
0915
0916
0917
0918
0919
0920
0921
0922
0923
0924
0925
0926
0927
0928
0929
0930
0931
0932
0933
0934
0935
0936
0937
0938
0939
0940
0941
0942
0943
0944
0945
0946
0947
0948
0949
0950
0951
0952
0953
0954
0955
0956
0957
0958
0959
0960
0961
0962
0963
0964
0965
0966
0967
0968
0969
0970
0971
0972
0973
0974
0975
0976
0977
0978
0979
0980
0981
0982
0983
0984
0985
0986
0987
0988
0989
0990
0991
0992
0993
0994
0995
0996
0997
0998
0999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149 yra tai, ko jus ieskote

In [10]:
def ieskom():
    with open("gen_failui/generatoriui.txt", "r") as failas:
        while True:
            for eilute in failas:
                yield eilute[:-1]

# DEKORATORIAI

In [11]:
def stri_decorator(fn):
    def wrapper(*args, **kwargs):
        for a in args:
            if type(a) != str:
                return "text must be a string"
        return fn(*args, **kwargs)
    return wrapper

In [12]:
@stri_decorator
def return_string(*args):
    return args

In [13]:
return_string("")

('',)

In [14]:
def less_than_two(fn):
    def wrapper(*args, **kwargs):
        if len(args) > 2:
            return "Enter less than 2 parameters"
        return fn(*args)
    return wrapper

In [15]:
@stri_decorator
@less_than_two
def any_function(*args):
    return args

In [16]:
any_function("stringas", "stringiukas")

('stringas', 'stringiukas')

In [17]:
from time import sleep
from functools import wraps

def delay(seconds):
    def delay(fn):
        @wraps(fn)
        def wrapper(*args, **kwargs):
            print(f"function will be delayed for {seconds} seconds. ")
            sleep(seconds)
            return fn(*args, **kwargs)
        return wrapper
    return delay

In [18]:
@delay(2.5)
@stri_decorator
@less_than_two
def any_function(*args):
    return args

In [19]:
any_function("stringas", "stringiukas")

function will be delayed for 2.5 seconds.

('stringas', 'stringiukas')

### how long does it takes

In [20]:
from time import time
def performance(fn):
    def wrapper(*args, **kwargs):
        t1 = time()
        result = fn(*args, **kwargs)
        t2 = time()
        diff = t2 - t1
        # print(f"It took {diff}")
        return result, diff
    return wrapper

In [21]:
import requests  # importuojame requests
from time import time  # importuojame time modulį

start_time = time()  # fiksuojame starto laiką
r = requests.get('http://www.cnn.com')  # sukuriame http užklausą
print(r.status_code)  # spausdiname status code (200 = OK, 404 = Not Found, ir t.t. galima pasiguglinti http status codes)
end_time = time()  # fiksuojame pabaigos laiką
print(end_time - start_time)  # atspausdiname laiką, per kurį gaovme atsakymą

200
2.0371038913726807

# NUMPY

In [22]:
import numpy as np

In [23]:
pirmas = np.arange(1,10)
print(pirmas)

[1 2 3 4 5 6 7 8 9]

In [24]:
antras = np.zeros(10)
print(antras)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [25]:
trecias = np.ones(10)
trecias

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [26]:
ketvirtas = np.ones(10) + 3
ketvirtas

array([4., 4., 4., 4., 4., 4., 4., 4., 4., 4.])

In [27]:
penktas = np.arange(0,102,2)
penktas

array([  0,   2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,
        26,  28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,
        52,  54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,
        78,  80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100])

In [28]:
change[2,1]

NameError: name 'change' is not defined

In [ ]:
change[-1:]

array([[21, 22, 23, 24, 25]])

In [ ]:
change[0:3, 0:3]

array([[ 1,  2,  3],
       [ 6,  7,  8],
       [11, 12, 13]])

In [ ]:
sixth = np.arange(1,26)
change = sixth.reshape(5,5)
change

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [ ]:
change[1:-1, 1:]

array([[ 7,  8,  9, 10],
       [12, 13, 14, 15],
       [17, 18, 19, 20]])

In [ ]:
change[-2:, 0:-2]

array([[16, 17, 18],
       [21, 22, 23]])

In [ ]:
trolo = np.random.rand(20)

array([0.08593991, 0.3127147 , 0.31026176, 0.32462699, 0.5040098 ,
       0.07136543, 0.01249324, 0.60335239, 0.73221385, 0.45417201,
       0.07741429, 0.51548049, 0.48712068, 0.35992055, 0.04469814,
       0.54129841, 0.82772673, 0.54359662, 0.37453503, 0.3293201 ])

In [ ]:
print(trolo.max(), trolo.argmax())

0.8277267336478586 16

In [ ]:
print(trolo.min(), trolo.argmin())

0.012493244105172163 6

In [ ]:
trolo.dtype

dtype('float64')

In [ ]:
more = np.arange(1,101)
more

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [ ]:
more[more>90]

array([ 91,  92,  93,  94,  95,  96,  97,  98,  99, 100])

In [ ]:
more[more % 7 == 0]

array([ 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98])

In [ ]:
np.linspace(0.025,1,40).reshape(5,8)

array([[0.025, 0.05 , 0.075, 0.1  , 0.125, 0.15 , 0.175, 0.2  ],
       [0.225, 0.25 , 0.275, 0.3  , 0.325, 0.35 , 0.375, 0.4  ],
       [0.425, 0.45 , 0.475, 0.5  , 0.525, 0.55 , 0.575, 0.6  ],
       [0.625, 0.65 , 0.675, 0.7  , 0.725, 0.75 , 0.775, 0.8  ],
       [0.825, 0.85 , 0.875, 0.9  , 0.925, 0.95 , 0.975, 1.   ]])

In [ ]:
traukiasi = np.arange(2,1001)
traukiasi

In [ ]:
bandomd=traukiasi[(traukiasi ** 0.5) % 1==0].reshape(5,6)
bandomd

array([[  4,   9,  16,  25,  36,  49],
       [ 64,  81, 100, 121, 144, 169],
       [196, 225, 256, 289, 324, 361],
       [400, 441, 484, 529, 576, 625],
       [676, 729, 784, 841, 900, 961]])

# PANDAS 1

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('miestai_isvalyti.csv')
df

,Miestas,2019,2011,2001,1989,1979,1970,1959,1923,1897
0,Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532
1,Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920
2,Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100
3,Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128
4,Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968
...,...,...,...,...,...,...,...,...,...,...
98,Dusetos,560,717,914,1184,1357,1600,1806,1164,1278
99,Kavarskas,528,666,809,972,1113,1191,1287,1041,1546
100,Smalininkai,446,515,653,758,805,952,1100,1741,0
101,Troškūnai,372,451,525,672,1174,1417,1495,1252,1000
102,Panemunė,210,274,329,398,506,545,539,637,0

In [ ]:
add_miestas = df.set_index("Miestas")
add_miestas

,2019,2011,2001,1989,1979,1970,1959,1923,1897
Miestas,,,,,,,,,
Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532
Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920
Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100
Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128
Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968
...,...,...,...,...,...,...,...,...,...
Dusetos,560,717,914,1184,1357,1600,1806,1164,1278
Kavarskas,528,666,809,972,1113,1191,1287,1041,1546
Smalininkai,446,515,653,758,805,952,1100,1741,0
Troškūnai,372,451,525,672,1174,1417,1495,1252,1000
Panemunė,210,274,329,398,506,545,539,637,0

In [ ]:
add_miestas.shape

(103, 9)

In [ ]:
naujas = range(1,104)
add_miestas["nr"] = naujas
add_miestas

,2019,2011,2001,1989,1979,1970,1959,1923,1897,nr
Miestas,,,,,,,,,,
Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532,1
Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920,2
Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100,3
Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128,4
Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968,5
...,...,...,...,...,...,...,...,...,...,...
Dusetos,560,717,914,1184,1357,1600,1806,1164,1278,99
Kavarskas,528,666,809,972,1113,1191,1287,1041,1546,100
Smalininkai,446,515,653,758,805,952,1100,1741,0,101
Troškūnai,372,451,525,672,1174,1417,1495,1252,1000,102
Panemunė,210,274,329,398,506,545,539,637,0,103

In [ ]:
add_miestas.iloc[[x for x in range(29,39)]]

                2019   2011   2001   1989   1979   1970  1959  1923  1897  nr
Miestas
Jurbarkas       9831  11232  13797  14310  10644   6541  4422  4409  7400  30
Raseiniai       9784  11203  12541  13211  11403   8946  6200  5270  7455  31
Vilkaviškis     9621  11547  13283  13829  11836   8452  5072  7263  5788  32
Anykščiai       8632  10575  11958  12758  10325   8250  5442  3500  3900  33
Prienai         8516   9867  11353  11909   9398   7550  5423  3260  2477  34
Joniškis        8358   9899  11329  11773   9303   7488  5889  4100  4828  35
Varėna          7987   9240  10845  12291   8015   4478  2401   407  2624  36
Kelmė           7655   9150  10900  11557   9073   6934  5140  2900  3914  37
Kaišiadorys     7486   8664  10002  10964   9022   4618  3011  1929   833  38
Naujoji Akmenė  7266   9300  12345  13590  14195  10127  5400     0     0  39

In [ ]:
add_miestas.drop("nr", axis=1, inplace=True)
add_miestas

,2019,2011,2001,1989,1979,1970,1959,1923,1897
Miestas,,,,,,,,,
Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532
Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920
Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100
Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128
Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968
...,...,...,...,...,...,...,...,...,...
Dusetos,560,717,914,1184,1357,1600,1806,1164,1278
Kavarskas,528,666,809,972,1113,1191,1287,1041,1546
Smalininkai,446,515,653,758,805,952,1100,1741,0
Troškūnai,372,451,525,672,1174,1417,1495,1252,1000
Panemunė,210,274,329,398,506,545,539,637,0

In [ ]:
add_miestas[add_miestas['1959']==0]

             2019   2011   2001   1989  1979  1970  1959  1923  1897
Miestas
Visaginas   18185  26804  29554  32438  6212     0     0     0     0
Elektrėnai  11276  12012  14050  15871  8466  6730     0     0     0

In [ ]:
add_miestas[add_miestas['1897'] > add_miestas['2019']]

                     2019  2011  2001  1989  1979  1970  1959  1923  1897
Miestas
Zarasai              6140  7349  8365  8916  7250  6624  4700  3785  6359
Švenčionys           4139  4980  5684  6469  5284  4617  4006     0  6025
Kalvarija            3858  4457  5090  5701  5879  5622  4698  4529  9378
Eišiškės             3071  3416  3765  3789  3467  3481  2532  2382  3196
Šeduva               2541  2895  3400  3584  3347  3309  3253  3186  4474
Vilkija              1898  2131  2338  2629  2371  2286  1996  2068  2012
Viekšniai            1670  1938  2270  2410  2781  2748  2734  2024  2951
Kudirkos Naumiestis  1480  1732  1997  2061  2090  2486  2574  3067  4595
Žagarė               1366  1712  2312  2649  2918  3386  3800  4730  8285
Salantai             1360  1615  1942  2431  2086  2156  2321  1942  2446
Linkuva              1277  1679  1797  2025  1876  1950  2144  1851  2077
Simnas               1269  1514  1980  2313  1625  1716  1661  1549  1642
Veisiejai            1211  1430  1762  2079  1687  1450  1513  1295  1540
Jieznas              1023  1204  1476  1883  1854  1658  1803  1000  1255
Varniai               995  1140  1355  2028  2059  2027  1902     0  2834
Daugai                980  1120  1458  2790  2054  1384  1287  1153  1288
Seda                  953  1138  1309  1500  1679  1821  2133  1851  2062
Virbalis              885  1095  1351  1566  1635  1489  1429  4018  3293
Vabalninkas           875  1057  1328  1905  2205  2070  2360  1267  2333
Obeliai               847  1074  1371  1804  1648  1681  1907  1328   975
Dūkštas               765   888  1070  1193  1633  1444  1968  1076  1000
Pandėlys              752   809  1024  1167  1129  1184  1277  1000  1221
Užventis              649   833   898  1149  1229  1406  1704     0   945
Dusetos               560   717   914  1184  1357  1600  1806  1164  1278
Kavarskas             528   666   809   972  1113  1191  1287  1041  1546
Troškūnai             372   451   525   672  1174  1417  1495  1252  1000

In [ ]:
add_miestas[add_miestas['2019'] > add_miestas['2011']][['2019','2011']]

                2019    2011
Miestas
Vilnius       540919  535631
Šalčininkai     6753    6402
Baltoji Vokė    1052    1047

In [ ]:
add_miestas[(add_miestas['1897'] > add_miestas['1923']) &
(add_miestas['1923'] > add_miestas['1959'])&
(add_miestas['1959'] > add_miestas['1970'])&
(add_miestas['1970'] > add_miestas['1979'])&
(add_miestas['1979'] > add_miestas['1989'])&
(add_miestas['1989'] > add_miestas['2001'])&
(add_miestas['2001'] > add_miestas['2011'])&
(add_miestas['2011'] > add_miestas['2019'])]

                     2019  2011  2001  1989  1979  1970  1959  1923  1897
Miestas
Kudirkos Naumiestis  1480  1732  1997  2061  2090  2486  2574  3067  4595
Žagarė               1366  1712  2312  2649  2918  3386  3800  4730  8285

In [ ]:
procents = (add_miestas['2019'] - add_miestas['1989']) / add_miestas['1989'] * 100

print(f'\
{procents.idxmax()}\t {int(procents.max())}%\n\
{procents.idxmin()}\t{int(procents.min())}%')

Neringa	 39%
Daugai	-64%

In [ ]:
add_miestas.reset_index()

,Miestas,2019,2011,2001,1989,1979,1970,1959,1923,1897,percent_change
0,Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532,-6.212083
1,Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920,-31.681616
2,Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100,-27.118352
3,Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128,-31.250644
4,Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968,-31.099041
...,...,...,...,...,...,...,...,...,...,...,...
98,Dusetos,560,717,914,1184,1357,1600,1806,1164,1278,-52.702703
99,Kavarskas,528,666,809,972,1113,1191,1287,1041,1546,-45.679012
100,Smalininkai,446,515,653,758,805,952,1100,1741,0,-41.160950
101,Troškūnai,372,451,525,672,1174,1417,1495,1252,1000,-44.642857
102,Panemunė,210,274,329,398,506,545,539,637,0,-47.236181

# Pandas 2

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
top_left = pd.read_csv('top1-25-1.csv')
top_right = pd.read_csv('top1-25-2.csv')
bottom_left = pd.read_csv('top26-50-1.csv')
bottom_right = pd.read_csv('top-26-50-2.csv')

In [ ]:
bott = pd.concat([bottom_left, bottom_right], axis=1)
bott

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,If I Can't Have You,Shawn Mendes,canadian pop,124,82,69,-4,13,87,191,49,6,70.0
1,Dance Monkey,Tones and I,australian pop,98,59,82,-6,18,54,210,69,10,83.0
2,It's You,Ali Gatie,canadian hip hop,96,46,73,-7,19,40,213,37,3,89.0
3,Con Calma,Daddy Yankee,latin,94,86,74,-3,6,66,193,11,6,91.0
4,QUE PRETENDES,J Balvin,latin,93,79,64,-4,36,94,222,3,25,89.0
5,Takeaway,The Chainsmokers,edm,85,51,29,-8,10,36,210,12,4,84.0
6,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89.0
7,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89.0
8,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,98,59,80,-7,13,18,200,2,15,89.0
9,Never Really Over,Katy Perry,dance pop,100,88,77,-5,32,39,224,19,6,89.0
10,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,114,72,66,-7,14,32,164,18,6,89.0
11,Otro Trago,Sech,panamanian pop,176,70,75,-5,11,62,226,14,34,91.0
12,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87.0
13,Sucker,Jonas Brothers,boy band,138,73,84,-5,11,95,181,4,6,80.0
14,"fuck, i'm lonely (with Anne-Marie) - from 13 R...",Lauv,dance pop,95,56,81,-6,6,68,199,48,7,78.0
15,Higher Love,Kygo,edm,104,68,69,-7,10,40,228,2,3,88.0
16,You Need To Calm Down,Taylor Swift,dance pop,85,68,77,-6,7,73,171,1,5,90.0
17,Shallow,Lady Gaga,dance pop,96,39,57,-6,23,32,216,37,3,87.0
18,Talk,Khalid,pop,136,40,90,-9,6,35,198,5,13,84.0
19,Con Altura,ROSALNA,r&b en espanol,98,69,88,-4,5,75,162,39,12,88.0
20,One Thing Right,Marshmello,brostep,88,62,66,-2,58,44,182,7,5,88.0
21,Te Robar,Nicky Jam,latin,176,75,67,-4,8,80,202,24,6,88.0
22,Happier,Marshmello,brostep,100,79,69,-3,17,67,214,19,5,NaN
23,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88.0
24,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,NaN,95,79,75,-6,7,61,206,21,12,82.0

In [ ]:
top = pd.merge(top_left, top_right, on=["Track.Name", "Popularity"])
top

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
0,Senorita,Shawn Mendes,canadian pop,79.0,117,55,76,-6,8,75,191,4,3
1,China,Anuel AA,reggaeton flow,92.0,105,81,79,-4,8,61,302,8,9
2,boyfriend (with Social House),Ariana Grande,dance pop,85.0,190,80,40,-4,16,70,186,12,46
3,Beautiful People (feat. Khalid),Ed Sheeran,pop,NaN,93,65,64,-8,8,55,198,12,19
4,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,94.0,150,65,58,-4,11,18,175,45,7
5,I Don't Care (with Justin Bieber),Ed Sheeran,pop,84.0,102,68,80,-5,9,84,220,9,4
6,Ransom,Lil Tecca,trap music,92.0,180,64,75,-6,7,23,131,2,29
7,How Do You Sleep?,Sam Smith,pop,90.0,111,68,48,-5,8,35,202,15,9
8,Old Town Road - Remix,Lil Nas X,country rap,87.0,136,62,88,-6,11,64,157,5,10
9,bad guy,Billie Eilish,electropop,95.0,135,43,70,-11,10,56,194,33,38
10,Callaita,Bad Bunny,reggaeton,93.0,176,62,61,-5,24,24,251,60,31
11,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,86.0,96,71,82,-4,15,38,185,28,7
12,Someone You Loved,Lewis Capaldi,pop,88.0,110,41,50,-6,11,45,182,75,3
13,Otro Trago - Remix,Sech,panamanian pop,87.0,176,79,73,-2,6,76,288,7,20
14,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,92.0,101,50,83,-4,12,10,205,10,5
15,No Guidance (feat. Drake),Chris Brown,dance pop,82.0,93,45,70,-7,16,14,261,12,15
16,LA CANCION,J Balvin,latin,90.0,176,65,75,-6,11,43,243,15,32
17,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,91.0,90,48,76,-6,7,91,158,56,5
18,Lalala,Y2K,NaN,88.0,130,39,84,-8,14,50,161,18,8
19,Truth Hurts,Lizzo,escape room,91.0,158,62,72,-3,12,41,173,11,11
20,Piece Of Your Heart,MEDUZA,pop house,91.0,124,74,68,-7,7,63,153,4,3
21,Panini,Lil Nas X,country rap,91.0,154,59,70,-6,12,48,115,34,8
22,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,83.0,92,79,81,-4,9,58,309,14,7
23,Soltera - Remix,Lunay,latin,91.0,92,78,80,-4,44,80,266,36,4
24,bad guy (with Justin Bieber),Billie Eilish,electropop,NaN,135,45,67,-11,12,68,195,25,30

In [ ]:
both = pd.concat([top, bott])
both

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
0,Senorita,Shawn Mendes,canadian pop,79.0,117,55,76,-6,8,75,191,4,3
1,China,Anuel AA,reggaeton flow,92.0,105,81,79,-4,8,61,302,8,9
2,boyfriend (with Social House),Ariana Grande,dance pop,85.0,190,80,40,-4,16,70,186,12,46
3,Beautiful People (feat. Khalid),Ed Sheeran,pop,NaN,93,65,64,-8,8,55,198,12,19
4,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,94.0,150,65,58,-4,11,18,175,45,7
5,I Don't Care (with Justin Bieber),Ed Sheeran,pop,84.0,102,68,80,-5,9,84,220,9,4
6,Ransom,Lil Tecca,trap music,92.0,180,64,75,-6,7,23,131,2,29
7,How Do You Sleep?,Sam Smith,pop,90.0,111,68,48,-5,8,35,202,15,9
8,Old Town Road - Remix,Lil Nas X,country rap,87.0,136,62,88,-6,11,64,157,5,10
9,bad guy,Billie Eilish,electropop,95.0,135,43,70,-11,10,56,194,33,38
10,Callaita,Bad Bunny,reggaeton,93.0,176,62,61,-5,24,24,251,60,31
11,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,86.0,96,71,82,-4,15,38,185,28,7
12,Someone You Loved,Lewis Capaldi,pop,88.0,110,41,50,-6,11,45,182,75,3
13,Otro Trago - Remix,Sech,panamanian pop,87.0,176,79,73,-2,6,76,288,7,20
14,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,92.0,101,50,83,-4,12,10,205,10,5
15,No Guidance (feat. Drake),Chris Brown,dance pop,82.0,93,45,70,-7,16,14,261,12,15
16,LA CANCION,J Balvin,latin,90.0,176,65,75,-6,11,43,243,15,32
17,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,91.0,90,48,76,-6,7,91,158,56,5
18,Lalala,Y2K,NaN,88.0,130,39,84,-8,14,50,161,18,8
19,Truth Hurts,Lizzo,escape room,91.0,158,62,72,-3,12,41,173,11,11
20,Piece Of Your Heart,MEDUZA,pop house,91.0,124,74,68,-7,7,63,153,4,3
21,Panini,Lil Nas X,country rap,91.0,154,59,70,-6,12,48,115,34,8
22,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,83.0,92,79,81,-4,9,58,309,14,7
23,Soltera - Remix,Lunay,latin,91.0,92,78,80,-4,44,80,266,36,4
24,bad guy (with Justin Bieber),Billie Eilish,electropop,NaN,135,45,67,-11,12,68,195,25,30
0,If I Can't Have You,Shawn Mendes,canadian pop,70.0,124,82,69,-4,13,87,191,49,6
1,Dance Monkey,Tones and I,australian pop,83.0,98,59,82,-6,18,54,210,69,10
2,It's You,Ali Gatie,canadian hip hop,89.0,96,46,73,-7,19,40,213,37,3
3,Con Calma,Daddy Yankee,latin,91.0,94,86,74,-3,6,66,193,11,6
4,QUE PRETENDES,J Balvin,latin,89.0,93,79,64,-4,36,94,222,3,25
5,Takeaway,The Chainsmokers,edm,84.0,85,51,29,-8,10,36,210,12,4
6,7 rings,Ariana Grande,dance pop,89.0,140,32,78,-11,9,33,179,59,33
7,0.958333333333333,Maluma,reggaeton,89.0,96,71,78,-5,9,68,176,22,28
8,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,89.0,98,59,80,-7,13,18,200,2,15
9,Never Really Over,Katy Perry,dance pop,89.0,100,88,77,-5,32,39,224,19,6
10,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,89.0,114,72,66,-7,14,32,164,18,6
11,Otro Trago,Sech,panamanian pop,91.0,176,70,75,-5,11,62,226,14,34
12,Antisocial (with Travis Scott),Ed Sheeran,pop,87.0,152,82,72,-5,36,91,162,13,5
13,Sucker,Jonas Brothers,boy band,80.0,138,73,84,-5,11,95,181,4,6
14,"fuck, i'm lonely (with Anne-Marie) - from 13 R...",Lauv,dance pop,78.0,95,56,81,-6,6,68,199,48,7
15,Higher Love,Kygo,edm,88.0,104,68,69,-7,10,40,228,2,3
16,You Need To Calm Down,Taylor Swift,dance pop,90.0,85,68,77,-6,7,73,171,1,5
17,Shallow,Lady Gaga,dance pop,87.0,96,39,57,-6,23,32,216,37,3
18,Talk,Khalid,pop,84.0,136,40,90,-9,6,35,198,5,13
19,Con Altura,ROSALNA,r&b en espanol,88.0,98,69,88,-4,5,75,162,39,12
20,One Thing Right,Marshmello,brostep,88.0,88,62,66,-2,58,44,182,7,5
21,Te Robar,Nicky Jam,latin,88.0,176,75,67,-4,8,80,202,24,6
22,Happier,Marshmello,brostep,NaN,100,79,69,-3,17,67,214,19,5
23,Call You Mine,The Chainsmokers,edm,88.0,104,70,59,-6,41,50,218,23,3
24,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,NaN,82.0,95,79,75,-6,7,61,206,21,12

In [ ]:
both.index = range(1, len(both) + 1)
both

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
1,Senorita,Shawn Mendes,canadian pop,79.0,117,55,76,-6,8,75,191,4,3
2,China,Anuel AA,reggaeton flow,92.0,105,81,79,-4,8,61,302,8,9
3,boyfriend (with Social House),Ariana Grande,dance pop,85.0,190,80,40,-4,16,70,186,12,46
4,Beautiful People (feat. Khalid),Ed Sheeran,pop,NaN,93,65,64,-8,8,55,198,12,19
5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,94.0,150,65,58,-4,11,18,175,45,7
6,I Don't Care (with Justin Bieber),Ed Sheeran,pop,84.0,102,68,80,-5,9,84,220,9,4
7,Ransom,Lil Tecca,trap music,92.0,180,64,75,-6,7,23,131,2,29
8,How Do You Sleep?,Sam Smith,pop,90.0,111,68,48,-5,8,35,202,15,9
9,Old Town Road - Remix,Lil Nas X,country rap,87.0,136,62,88,-6,11,64,157,5,10
10,bad guy,Billie Eilish,electropop,95.0,135,43,70,-11,10,56,194,33,38
11,Callaita,Bad Bunny,reggaeton,93.0,176,62,61,-5,24,24,251,60,31
12,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,86.0,96,71,82,-4,15,38,185,28,7
13,Someone You Loved,Lewis Capaldi,pop,88.0,110,41,50,-6,11,45,182,75,3
14,Otro Trago - Remix,Sech,panamanian pop,87.0,176,79,73,-2,6,76,288,7,20
15,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,92.0,101,50,83,-4,12,10,205,10,5
16,No Guidance (feat. Drake),Chris Brown,dance pop,82.0,93,45,70,-7,16,14,261,12,15
17,LA CANCION,J Balvin,latin,90.0,176,65,75,-6,11,43,243,15,32
18,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,91.0,90,48,76,-6,7,91,158,56,5
19,Lalala,Y2K,NaN,88.0,130,39,84,-8,14,50,161,18,8
20,Truth Hurts,Lizzo,escape room,91.0,158,62,72,-3,12,41,173,11,11
21,Piece Of Your Heart,MEDUZA,pop house,91.0,124,74,68,-7,7,63,153,4,3
22,Panini,Lil Nas X,country rap,91.0,154,59,70,-6,12,48,115,34,8
23,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,83.0,92,79,81,-4,9,58,309,14,7
24,Soltera - Remix,Lunay,latin,91.0,92,78,80,-4,44,80,266,36,4
25,bad guy (with Justin Bieber),Billie Eilish,electropop,NaN,135,45,67,-11,12,68,195,25,30
26,If I Can't Have You,Shawn Mendes,canadian pop,70.0,124,82,69,-4,13,87,191,49,6
27,Dance Monkey,Tones and I,australian pop,83.0,98,59,82,-6,18,54,210,69,10
28,It's You,Ali Gatie,canadian hip hop,89.0,96,46,73,-7,19,40,213,37,3
29,Con Calma,Daddy Yankee,latin,91.0,94,86,74,-3,6,66,193,11,6
30,QUE PRETENDES,J Balvin,latin,89.0,93,79,64,-4,36,94,222,3,25
31,Takeaway,The Chainsmokers,edm,84.0,85,51,29,-8,10,36,210,12,4
32,7 rings,Ariana Grande,dance pop,89.0,140,32,78,-11,9,33,179,59,33
33,0.958333333333333,Maluma,reggaeton,89.0,96,71,78,-5,9,68,176,22,28
34,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,89.0,98,59,80,-7,13,18,200,2,15
35,Never Really Over,Katy Perry,dance pop,89.0,100,88,77,-5,32,39,224,19,6
36,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,89.0,114,72,66,-7,14,32,164,18,6
37,Otro Trago,Sech,panamanian pop,91.0,176,70,75,-5,11,62,226,14,34
38,Antisocial (with Travis Scott),Ed Sheeran,pop,87.0,152,82,72,-5,36,91,162,13,5
39,Sucker,Jonas Brothers,boy band,80.0,138,73,84,-5,11,95,181,4,6
40,"fuck, i'm lonely (with Anne-Marie) - from 13 R...",Lauv,dance pop,78.0,95,56,81,-6,6,68,199,48,7
41,Higher Love,Kygo,edm,88.0,104,68,69,-7,10,40,228,2,3
42,You Need To Calm Down,Taylor Swift,dance pop,90.0,85,68,77,-6,7,73,171,1,5
43,Shallow,Lady Gaga,dance pop,87.0,96,39,57,-6,23,32,216,37,3
44,Talk,Khalid,pop,84.0,136,40,90,-9,6,35,198,5,13
45,Con Altura,ROSALNA,r&b en espanol,88.0,98,69,88,-4,5,75,162,39,12
46,One Thing Right,Marshmello,brostep,88.0,88,62,66,-2,58,44,182,7,5
47,Te Robar,Nicky Jam,latin,88.0,176,75,67,-4,8,80,202,24,6
48,Happier,Marshmello,brostep,NaN,100,79,69,-3,17,67,214,19,5
49,Call You Mine,The Chainsmokers,edm,88.0,104,70,59,-6,41,50,218,23,3
50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,NaN,82.0,95,79,75,-6,7,61,206,21,12

In [ ]:
by_genre = both.groupby("Genre")
by_genre

In [ ]:
avg_popularity = both.groupby('Genre')['Popularity'].mean()

In [ ]:
most_popular_genre = avg_popularity.idxmax()
most_popular_values = avg_popularity.loc[most_popular_genre]

In [ ]:
least_popular_genre = avg_popularity.idxmin()
least_popular_values = avg_popularity.loc[least_popular_genre]

In [ ]:
print(f'{most_popular_genre}, {most_popular_values},\n{least_popular_genre}, {least_popular_values}')

electropop, 95.0,
canadian pop, 74.5

In [ ]:
indicators = both.columns.tolist()[3:]
genres = by_genre.mean().idxmax()
score = by_genre.mean().max()
result = pd.DataFrame([indicators,genres.values, score.values],["Indicators", "Genres","Score"]).transpose()
result

/var/folders/dp/pnrbnfys52z5ydm9h3nrkn640000gn/T/ipykernel_30128/3610983848.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  genres = by_genre.mean().idxmax()
/var/folders/dp/pnrbnfys52z5ydm9h3nrkn640000gn/T/ipykernel_30128/3610983848.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  score = by_genre.mean().max()

         Indicators          Genres  Score
0        Popularity      electropop   95.0
1  Beats.Per.Minute      trap music  180.0
2            Energy  reggaeton flow   80.0
3      Danceability  r&b en espanol   88.0
4    Loudness..dB..         brostep   -2.5
5          Liveness         brostep   37.5
6          Valence.        boy band   95.0
7           Length.  reggaeton flow  305.5
8    Acousticness..  australian pop   69.0
9      Speechiness.      electropop   34.0

In [ ]:
result = both[both.isnull().any(axis=1)]
result

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
4,Beautiful People (feat. Khalid),Ed Sheeran,pop,NaN,93,65,64,-8,8,55,198,12,19
19,Lalala,Y2K,NaN,88.0,130,39,84,-8,14,50,161,18,8
25,bad guy (with Justin Bieber),Billie Eilish,electropop,NaN,135,45,67,-11,12,68,195,25,30
48,Happier,Marshmello,brostep,NaN,100,79,69,-3,17,67,214,19,5
50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,NaN,82.0,95,79,75,-6,7,61,206,21,12

In [ ]:
result['Genre'] = result['Genre'].fillna('pop')

/var/folders/dp/pnrbnfys52z5ydm9h3nrkn640000gn/T/ipykernel_30128/2721207130.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Genre'] = result['Genre'].fillna('pop')

In [ ]:
result

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
4,Beautiful People (feat. Khalid),Ed Sheeran,pop,NaN,93,65,64,-8,8,55,198,12,19
19,Lalala,Y2K,pop,88.0,130,39,84,-8,14,50,161,18,8
25,bad guy (with Justin Bieber),Billie Eilish,electropop,NaN,135,45,67,-11,12,68,195,25,30
48,Happier,Marshmello,brostep,NaN,100,79,69,-3,17,67,214,19,5
50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,82.0,95,79,75,-6,7,61,206,21,12

In [ ]:
result["Popularity"] = result["Popularity"].fillna(value=result["Popularity"].mean())
result

/var/folders/dp/pnrbnfys52z5ydm9h3nrkn640000gn/T/ipykernel_30128/116685652.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result["Popularity"] = result["Popularity"].fillna(value=result["Popularity"].mean())

,Track.Name,Artist.Name,Genre,Popularity,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.
4,Beautiful People (feat. Khalid),Ed Sheeran,pop,85.0,93,65,64,-8,8,55,198,12,19
19,Lalala,Y2K,pop,88.0,130,39,84,-8,14,50,161,18,8
25,bad guy (with Justin Bieber),Billie Eilish,electropop,85.0,135,45,67,-11,12,68,195,25,30
48,Happier,Marshmello,brostep,85.0,100,79,69,-3,17,67,214,19,5
50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,82.0,95,79,75,-6,7,61,206,21,12

# Pandas 3

In [1]:
import pandas as pd
import numpy as np
duomenys = pd.read_html('https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm')
duomenys

[         0                                                  1
 0  Country  any Austria Belgium Bulgaria Croatia Cyprus Cz...
 1      NaN                                                NaN,
              Staat                     Official languages    Population  \
 0          Austria                                 German   8.4 million
 1          Belgium  Dutch (north), French (south), German    11 million
 2         Bulgaria                              Bulgarian     7 million
 3          Croatia                               Croatian   4.3 million
 4           Cyprus                         Greek, Turkish       800 000
 5   Czech Republic                                  Czech    10 million
 6          Denmark                                 Danish   5.6 million
 7          Estonia                               Estonian   1.3 million
 8          Finland                       Finnish, Swedish   5.4 million
 9           France                                 French    65 million
 10         Germany                                 German  82.5 million
 11          Greece                                  Greek    11 million
 12         Hungary                              Hungarian    10 million
 13         Iceland                              Icelandic       320 000
 14         Ireland                         English, Irish   4.6 million
 15           Italy                                Italian  60.9 million
 16          Latvia                                Latvian     2 million
 17    Lichtenstein                                 German        36 300
 18       Lithuania                             Lithuanian     3 million
 19      Luxembourg          French, German, Luxembourgish       524 000
 20           Malta                       English, Maltese       450 000
 21     Netherlands                                  Dutch  16.8 million
 22          Norway                              Norwegian     5 million
 23          Poland                                 Polish  38.5 million
 24        Portugal                             Portuguese  10.5 million
 25         Romania                               Romanian  19.1 million
 26        Slovakia                              Slovakian   5.4 million
 27        Slovenia                              Slovenian     2 million
 28           Spain                                Spanish    47 million
 29          Sweden                                Swedish   9.5 million
 30     Switzerland       French, German, Italian, Romansh     8 million
 31  United Kingdom                                English  63.2 million

        Capital                Currency  Phone     Int.
 0       Vienna              euro (EUR)     43      .at
 1     Brussels              euro (EUR)     32      .be
 2        Sofia     Bulgarian lev (BGN)    359      .bg
 3       Zagreb     Croatian kuna (HRK)    385      .hr
 4      Nicosia              euro (EUR)    357      .cy
 5       Prague      Czech koruna (CZK)    420      .cz
 6   Copenhagen      Danish krone (DKK)     45      .dk
 7      Tallinn              euro (EUR)    372      .ee
 8     Helsinki              euro (EUR)    358  .fi/.ax
 9        Paris              euro (EUR)     33      .fr
 10      Berlin              euro (EUR)     49      .de
 11      Athens              euro (EUR)     30      .gr
 12    Budapest  Hungarian forint (HUF)     36      .hu
 13   Reykjavik   Icelandic krona (ISK)    354      .is
 14      Dublin              euro (EUR)    353      .ie
 15        Rome              euro (EUR)     39      .it
 16        Riga      Latvian lats (LVL)    371      .lv
 17       Vaduz       Swiss franc (CHF)    423      .li
 18     Vilnius  Lithuanian litas (LTL)    370      .lt
 19  Luxembourg              euro (EUR)    352      .lu
 20    Valletta              euro (EUR)    356      .mt
 21   Amsterdam              euro (EUR)     31      .nl
 22        Oslo   Norwegian krone (NOK)     47      .no
 23      Warsaw      Polish ztoty (PLN)     48      .pl
 24      Lisbon              euro (EUR)    351      .pt
 25   Bucharest      Romanian leu (RON)     40      .ro
 26  Bratislava              euro (EUR)    421      .sk
 27   Ljubljana              euro (EUR)    386      .si
 28      Madrid              euro (EUR)     34      .es
 29   Stockholm     Swedish krona (SEK)     46      .se
 30        Bern       Swiss franc (CHF)     41      .ch
 31      London          Pound sterling     44      .uk  ]

In [81]:
kazkas = duomenys[1]

In [26]:
kazkas.to_csv('countries.csv', index=False)

In [4]:
kazkas.to_excel('countries_xls.xls', sheet_name = 'Sheet1')

/var/folders/dp/pnrbnfys52z5ydm9h3nrkn640000gn/T/ipykernel_43688/3347375748.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  kazkas.to_excel('countries_xls.xls', sheet_name = 'Sheet1')

In [27]:
from sqlalchemy import create_engine
import sql
engine = create_engine('sqlite:///duomenys.db')

In [28]:
kazkas.to_sql('countries', engine, index=True)

32

In [32]:
connection = engine.connect()
parodom = pd.read_sql('countries', con=connection)
parodom

,index,Staat,Official languages,Population,Capital,Currency,Phone,Int.
0,0,Austria,German,8.4 million,Vienna,euro (EUR),43,.at
1,1,Belgium,"Dutch (north), French (south), German",11 million,Brussels,euro (EUR),32,.be
2,2,Bulgaria,Bulgarian,7 million,Sofia,Bulgarian lev (BGN),359,.bg
3,3,Croatia,Croatian,4.3 million,Zagreb,Croatian kuna (HRK),385,.hr
4,4,Cyprus,"Greek, Turkish",800 000,Nicosia,euro (EUR),357,.cy
5,5,Czech Republic,Czech,10 million,Prague,Czech koruna (CZK),420,.cz
6,6,Denmark,Danish,5.6 million,Copenhagen,Danish krone (DKK),45,.dk
7,7,Estonia,Estonian,1.3 million,Tallinn,euro (EUR),372,.ee
8,8,Finland,"Finnish, Swedish",5.4 million,Helsinki,euro (EUR),358,.fi/.ax
9,9,France,French,65 million,Paris,euro (EUR),33,.fr
10,10,Germany,German,82.5 million,Berlin,euro (EUR),49,.de
11,11,Greece,Greek,11 million,Athens,euro (EUR),30,.gr
12,12,Hungary,Hungarian,10 million,Budapest,Hungarian forint (HUF),36,.hu
13,13,Iceland,Icelandic,320 000,Reykjavik,Icelandic krona (ISK),354,.is
14,14,Ireland,"English, Irish",4.6 million,Dublin,euro (EUR),353,.ie
15,15,Italy,Italian,60.9 million,Rome,euro (EUR),39,.it
16,16,Latvia,Latvian,2 million,Riga,Latvian lats (LVL),371,.lv
17,17,Lichtenstein,German,36 300,Vaduz,Swiss franc (CHF),423,.li
18,18,Lithuania,Lithuanian,3 million,Vilnius,Lithuanian litas (LTL),370,.lt
19,19,Luxembourg,"French, German, Luxembourgish",524 000,Luxembourg,euro (EUR),352,.lu
20,20,Malta,"English, Maltese",450 000,Valletta,euro (EUR),356,.mt
21,21,Netherlands,Dutch,16.8 million,Amsterdam,euro (EUR),31,.nl
22,22,Norway,Norwegian,5 million,Oslo,Norwegian krone (NOK),47,.no
23,23,Poland,Polish,38.5 million,Warsaw,Polish ztoty (PLN),48,.pl
24,24,Portugal,Portuguese,10.5 million,Lisbon,euro (EUR),351,.pt
25,25,Romania,Romanian,19.1 million,Bucharest,Romanian leu (RON),40,.ro
26,26,Slovakia,Slovakian,5.4 million,Bratislava,euro (EUR),421,.sk
27,27,Slovenia,Slovenian,2 million,Ljubljana,euro (EUR),386,.si
28,28,Spain,Spanish,47 million,Madrid,euro (EUR),34,.es
29,29,Sweden,Swedish,9.5 million,Stockholm,Swedish krona (SEK),46,.se
30,30,Switzerland,"French, German, Italian, Romansh",8 million,Bern,Swiss franc (CHF),41,.ch
31,31,United Kingdom,English,63.2 million,London,Pound sterling,44,.uk

In [51]:
fire_data = pd.read_csv('fire.xls')
fire_data

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
3,Rush,Lightning,August,2012,Lassen,271911,0,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0
5,Zaca,Human Related,July,2007,Santa Barbara,240207,1,0
6,Carr,Human Related,July,2018,"Shasta County,Trinity County",229651,1614,8
7,Matilija,Undetermined,September,1932,Ventura,220000,0,0
8,Witch,Powerlines,October,2007,San Diego,197990,1650,2
9,Klamath Theater Complex,Lightning,June,2008,Siskiyou,192038,0,2
10,Marble Cone,Lightning,July,1977,Monterey,177866,0,0
11,Laguna,Powerlines,September,1970,San Diego,175425,382,5
12,Basin Complex,Lightning,June,2008,Monterey,162818,58,0
13,Day Fire,Human Related,September,2006,Ventura,162702,11,0
14,Station,Human Related,August,2009,Los Angeles,160557,209,2
15,Camp Fire,Powerlines,November,2018,Butte,153336,18804,85
16,Rough,Lightning,July,2015,Fresno,151623,4,0
17,Mcnally,Human Related,July,2002,Tulare,150696,17,0
18,Stanislaus Complex,Lightning,August,1987,Tuolumne,145980,28,1
19,Big Bar Complex,Lightning,August,1999,Trinity,140948,0,0

In [39]:
uniq_cause=fire_data["cause"].nunique()
uniq_cause

5

In [40]:
count_uniq_cause = fire_data['cause'].value_counts()
count_uniq_cause

Human Related          7
Lightning              7
Powerlines             4
Under Investigation    1
Undetermined           1
Name: cause, dtype: int64

In [53]:
max_deaths = fire_data['year'].value_counts().idxmax()
max_deaths

2018

In [64]:
people_died = fire_data['fire_name'][fire_data['deaths'] > 0].count()
people_died

10

In [67]:
sort_year= fire_data.sort_values('year',  ascending=False)
sort_year

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
15,Camp Fire,Powerlines,November,2018,Butte,153336,18804,85
6,Carr,Human Related,July,2018,"Shasta County,Trinity County",229651,1614,8
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
16,Rough,Lightning,July,2015,Fresno,151623,4,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0
3,Rush,Lightning,August,2012,Lassen,271911,0,0
14,Station,Human Related,August,2009,Los Angeles,160557,209,2
9,Klamath Theater Complex,Lightning,June,2008,Siskiyou,192038,0,2
12,Basin Complex,Lightning,June,2008,Monterey,162818,58,0
5,Zaca,Human Related,July,2007,Santa Barbara,240207,1,0
8,Witch,Powerlines,October,2007,San Diego,197990,1650,2
13,Day Fire,Human Related,September,2006,Ventura,162702,11,0
2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
17,Mcnally,Human Related,July,2002,Tulare,150696,17,0
19,Big Bar Complex,Lightning,August,1999,Trinity,140948,0,0
18,Stanislaus Complex,Lightning,August,1987,Tuolumne,145980,28,1
10,Marble Cone,Lightning,July,1977,Monterey,177866,0,0
11,Laguna,Powerlines,September,1970,San Diego,175425,382,5
7,Matilija,Undetermined,September,1932,Ventura,220000,0,0

In [73]:
menesiai = {1: 'January',
  2: 'February',
  3: 'March',
  4: 'April',
  5: 'May',
  6: 'June',
  7: 'July',
  8: 'August',
  9: 'September',
  10: 'October',
  11: 'November',
  12: 'December'}

def months_to_numbers(month_name):
    for month_number, name in menesiai.items():
        if name == month_name:
            return month_number

In [79]:
fire_data['month'] = fire_data['month'].apply(months_to_numbers)
fire_data

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,7,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,12,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,10,2003,San Diego,273246,2820,15
3,Rush,Lightning,8,2012,Lassen,271911,0,0
4,Rim,Human Related,8,2013,Tuolumne,257314,112,0
5,Zaca,Human Related,7,2007,Santa Barbara,240207,1,0
6,Carr,Human Related,7,2018,"Shasta County,Trinity County",229651,1614,8
7,Matilija,Undetermined,9,1932,Ventura,220000,0,0
8,Witch,Powerlines,10,2007,San Diego,197990,1650,2
9,Klamath Theater Complex,Lightning,6,2008,Siskiyou,192038,0,2
10,Marble Cone,Lightning,7,1977,Monterey,177866,0,0
11,Laguna,Powerlines,9,1970,San Diego,175425,382,5
12,Basin Complex,Lightning,6,2008,Monterey,162818,58,0
13,Day Fire,Human Related,9,2006,Ventura,162702,11,0
14,Station,Human Related,8,2009,Los Angeles,160557,209,2
15,Camp Fire,Powerlines,11,2018,Butte,153336,18804,85
16,Rough,Lightning,7,2015,Fresno,151623,4,0
17,Mcnally,Human Related,7,2002,Tulare,150696,17,0
18,Stanislaus Complex,Lightning,8,1987,Tuolumne,145980,28,1
19,Big Bar Complex,Lightning,8,1999,Trinity,140948,0,0

In [19]:
import requests
url = 'https://lt.wikipedia.org/wiki/Sąrašas:Lietuvos_miestai_pagal_gyventojus'
text = requests.get(url).content
cities = pd.read_html(text)
find_cities = cities[0]
find_cities

,Eilė,Miestas,2021 m.,2011 m.,2001 m.,1989 m.,1979 m.,1970 m.,1959 m.,1923 m.,1897 m.,Tankumas (2019)
0,1,Vilnius,546155,524406,542287,576747,475825,372100.0,236078.0,167400,154532*,1374 žm./km²
1,2,Kaunas,298753,315993,378943,418087,368649,305116.0,219287.0,92446,70920*,1843 žm./km²
2,3,Klaipėda,152008,162360,192954,202929,176648,140012.0,90521.0,35845,20100,1356 žm./km²
3,4,Šiauliai,100653,109328,133883,145629,118724,93057.0,59722.0,21387,16128*,1251 žm./km²
4,5,Panevėžys,89110,99690,119749,126483,102303,73328.0,41096.0,19197,12968*,1590 žm./km²
...,...,...,...,...,...,...,...,...,...,...,...,...
98,99,Užventis,600,833,898,1149,1229,1406.0,1704.0,(?),945,260 žm./km²
99,100,Dusetos,531,717,914,1185,1393,1578.0,1806.0,1164,1278,316 žm./km²
100,101,Kavarskas,503,666,809,972,1113,1256.0,1287.0,1041,1546,443 žm./km²
101,102,Troškūnai,389,451,525,672,1174,1434.0,1495.0,1252,1000,458 žm./km²
102,103,Panemunė,217,274,329,398,506,492.0,539.0,637,NaN,112 žm./km²

In [178]:
set_city = find_cities.set_index('Miestas')
set_city

,Eilė,2021 m.,2011 m.,2001 m.,1989 m.,1979 m.,1970 m.,1959 m.,1923 m.,1897 m.,Tankumas (2019)
Miestas,,,,,,,,,,,
Vilnius,1,546155,524406,542287,576747,475825,372100.0,236078.0,167400,154532*,1374 žm./km²
Kaunas,2,298753,315993,378943,418087,368649,305116.0,219287.0,92446,70920*,1843 žm./km²
Klaipėda,3,152008,162360,192954,202929,176648,140012.0,90521.0,35845,20100,1356 žm./km²
Šiauliai,4,100653,109328,133883,145629,118724,93057.0,59722.0,21387,16128*,1251 žm./km²
Panevėžys,5,89110,99690,119749,126483,102303,73328.0,41096.0,19197,12968*,1590 žm./km²
Alytus,6,52727,59964,71491,73015,55509,28074.0,12350.0,6322,3445,1039 žm./km²
Marijampolė,7,36727,41051,48675,50887,38824,28763.0,19621.0,9488,6777,999 žm./km²
Mažeikiai,8,33101,37020,42675,43547,25779,13468.0,7957.0,4300,1979,1425 žm./km²
Jonava,9,27381,30650,34954,36520,28413,14438.0,5005.0,4115,5000,1933 žm./km²
Utena,10,25343,28997,33860,34430,23461,13319.0,7158.0,4890,3200,1658 žm./km²
Kėdainiai,11,23461,26648,32048,33840,27886,19677.0,10580.0,7415,6113,841 žm./km²
Telšiai,12,22642,25540,31460,33351,26369,20220.0,13460.0,4691,6205*,920 žm./km²
Ukmergė,13,21258,23878,28759,30410,26601,21663.0,14880.0,10604,13532*,981 žm./km²
Tauragė,14,21203,24389,29124,30119,25966,19461.0,12041.0,5470,6600,1288 žm./km²
Visaginas,15,19446,22361,29554,32438,6212,NaN,NaN,NaN,NaN,1953 žm./km²
Plungė,16,17543,20041,23436,22535,18829,13560.0,3672.0,4236,4500,1422 žm./km²
Kretinga,17,17249,19010,21423,19516,16197,13091.0,9690.0,2532,3418,850 žm./km²
Palanga,18,16746,15732,17623,17571,11980,8797.0,5685.0,2000,2400,1462 žm./km²
Šilutė,19,15952,17775,21476,21179,16000,12401.0,8969.0,4348,2100,1070 žm./km²
Radviliškis,20,15103,17254,20339,21263,19232,16841.0,12613.0,5464,3900,875 žm./km²
Gargždai,21,15065,15021,15212,13409,10042,6414.0,1524.0,4700,3360,1307 žm./km²
Druskininkai,22,12908,14764,18233,18943,12464,11160.0,5765.0,1000,1280,503 žm./km²
Rokiškis,23,11770,14351,16746,17826,13192,9146.0,5520.0,4325,2700,1027 žm./km²
Elektrėnai,24,11255,12012,14050,15871,8466,6646.0,NaN,NaN,NaN,490 žm./km²
Kuršėnai,25,10916,11963,14197,14796,13223,11468.0,9099.0,2900,3200,925 žm./km²
Biržai,26,10734,12465,15262,15907,14401,11385.0,8624.0,5315,4413,651 žm./km²
Garliava,27,10366,11264,13322,12420,9418,5587.0,2489.0,936,1200,2633 žm./km²
Vilkaviškis,28,10286,11547,13283,13829,11836,8566.0,5072.0,7263,5788*,1251 žm./km²
Jurbarkas,29,10186,11232,13797,14310,10644,6575.0,4412.0,4409,7400,763 žm./km²
Grigiškės,30,9950,10867,11448,11610,8259,4991.0,2559.0,NaN,NaN,1523 žm./km²
Raseiniai,31,9865,11203,12541,13211,11403,8931.0,6242.0,5270,7455*,1140 žm./km²
Lentvaris,32,9713,11105,11773,12964,10167,8059.0,4216.0,2000,385,1318 žm./km²
Prienai,33,8796,9867,11353,11909,9398,7841.0,5423.0,3260,2477*,1017 žm./km²
Anykščiai,34,8697,10575,11958,12758,10325,8238.0,5442.0,3500,3900,739 žm./km²
Joniškis,35,8612,9899,11329,11773,9303,7522.0,5889.0,4100,4828,925 žm./km²
Kaišiadorys,36,8380,8664,10002,10964,9022,4701.0,3011.0,1929,833,490 žm./km²
Varėna,37,8202,9240,10845,12291,8015,4494.0,2391.0,407,2624,675 žm./km²
Naujoji Akmenė,38,7985,9300,12345,13590,14195,10175.0,5410.0,NaN,NaN,780 žm./km²
Kelmė,39,7688,9150,10900,11557,9073,7087.0,5140.0,2900,3914,955 žm./km²
Šalčininkai,40,6857,6358,6722,6480,3857,1753.0,1676.0,687,459,2253 žm./km²
Pasvalys,41,6451,7523,8709,9071,7370,6027.0,4248.0,2211,1699,877 žm./km²
Kupiškis,42,6218,7206,8451,8786,6307,4876.0,4127.0,2672,3742,920 žm./km²
Zarasai,43,6077,7165,8365,8916,7250,6605.0,4717.0,3785,6359*,473 žm./km²
Širvintos,44,5827,6415,7273,7442,5146,3073.0,1652.0,2000,1676,1389 žm./km²
Molėtai,45,5782,6434,7221,6843,5165,3665.0,1912.0,1770,2397,1454 žm./km²
Kazlų Rūda,46,5590,6635,7401,7715,6312,4397.0,3478.0,1338,771,1409 žm./km²
Skuodas,47,5508,6513,7896,8730,7269,4693.0,3131.0,3614,3041,1054 žm./km²
Šakiai,48,5462,6051,6795,7226,5955,4227.0,2998.0,2044,2211*,714 žm./km²
Trakai,49,5426,4933,5725,6703,5763,4667.0,3075.0,(??),3240*,358 žm./km²
Ignalina,50,5106,6007,6591,6872,4927,3515.0,2466.0,1500,300,701 žm./km²
Pabradė,51,4918,5994,6525,7360,6655,5919.0,4489.0,1835,503,487 žm./km²
Nemenčinė,52,4831,5054,5892,5612,4075,3208.0,2081.0,(??),420,940 žm./km²
Švenčionėliai,53,4748,5771,6923,7712,6566,5964.0,4920.0,(??),(?),819 žm./km²
Šilalė,54,4729,5492,6281,6308,4242,2975.0,1972.0,1058,1502,1353 žm./km²
Pakruojis,55,4594,5139,6057,6218,4809,3852.0,2427.0,1184,1420,1088 žm./km²
Švenčionys,56,4448,4963,5684,6469,5284,4616.0,4006.0,(??),6025*,641 žm./km²
Vievis,57,4311,4915,5303,5663,4581,2957.0,2275.0,414,725,1070 žm./km²
Kybartai,58,4126,5631,6556,7064,6676,6430.0,6240.0,6300,2364,959 žm./km²
Lazdijai,59,4016,4531,5140,5485,4364,3928.0,3109.0,2364,2538,756 žm./km²
Kalvarija,60,3982,4457,5090,5701,5879,5600.0,4698.0,4529,9378*,669 žm./km²
Neringa,61,3609,2570,2386,2478,2242,1944.0,1468.0,NaN,NaN,39 žm./km²
Rietavas,62,3234,3251,3979,4490,4072,3421.0,2882.0,1720,3000,659 žm./km²
Žiežmariai,63,3158,3607,3884,3523,2622,1733.0,1598.0,2346,2616,828 žm./km²
Birštonas,64,3072,2646,3225,3537,2350,2228.0,1317.0,268,343,177 žm./km²
Eišiškės,65,2908,3416,3765,3789,3467,3477.0,2532.0,2382,3196,429 žm./km²
Ariogala,66,2743,3208,3697,4033,3646,2979.0,2360.0,1197,2376,573 žm./km²
Šeduva,67,2421,2895,3400,3584,3347,3309.0,3253.0,3186,4474*,463 žm./km²
Akmenė,68,2355,2593,3140,3458,3075,2499.0,1819.0,1453,1501,775 žm./km²
Venta,69,2250,2392,3412,3827,3240,2534.0,1718.0,NaN,NaN,612 žm./km²
Viekšniai,70,2249,1938,2270,2410,2781,2731.0,2374.0,2024,2951,599 žm./km²
Rūdiškės,71,1985,2300,2559,2489,2249,2037.0,1483.0,(??),(?),487 žm./km²
Tytuvėnai,72,1850,2302,2851,3058,3111,3145.0,2206.0,1164,1000,186 žm./km²
Vilkija,73,1762,2131,2338,2629,2371,2277.0,1957.0,2068,2012,682 žm./km²
Ežerėlis,74,1640,1820,2051,2151,2060,2110.0,2189.0,132,NaN,705 žm./km²
Pagėgiai,75,1576,1941,2393,2568,2696,3332.0,3436.0,1404,662,356 žm./km²
Gelgaudiškis,76,1572,1761,2029,2724,2018,1835.0,1212.0,613,691,437 žm./km²
Skaudvilė,77,1427,1720,2140,2436,2465,2657.0,2723.0,1362,1390,365 žm./km²
Kudirkos Naumiestis,78,1381,1732,1997,2061,2090,2437.0,2574.0,3067,4595*,364 žm./km²
Žagarė,79,1326,1712,2312,2649,2918,3381.0,3823.0,4730,8285,275 žm./km²
Linkuva,80,1283,1550,1797,2025,1876,1913.0,2144.0,1851,2077,476 žm./km²
Salantai,81,1272,1615,1942,2431,2086,2156.0,2321.0,1942,2446,625 žm./km²
Simnas,82,1247,1514,1980,2313,1625,1709.0,1661.0,1549,1642,582 žm./km²
Priekulė,83,1245,1413,1725,1826,1864,1853.0,1823.0,1101,(?),502 žm./km²
Ramygala,84,1241,1581,1733,2018,2302,2113.0,1882.0,1329,1246,419 žm./km²
Veisiejai,85,1141,1430,1762,2079,1687,1463.0,1513.0,1295,1540,233 žm./km²
Jieznas,86,1047,1230,1476,1883,1854,2126.0,1797.0,1000,1255,402 žm./km²
Joniškėlis,87,1026,1201,1477,1585,1776,1871.0,2592.0,568,670,446 žm./km²
Daugai,88,1016,1170,1458,2144,2054,1530.0,1287.0,1153,1288,566 žm./km²
Baltoji Vokė,89,998,1101,1073,1128,959,1066.0,1086.0,NaN,NaN,565 žm./km²
Seda,90,903,1138,1309,1500,1679,1822.0,2133.0,1851,2062,232 žm./km²
Virbalis,91,885,1095,1351,1566,1635,1487.0,1429.0,4018,3293*,454 žm./km²
Varniai,92,884,1140,1355,2028,2059,2030.0,1902.0,(?),2834,301 žm./km²
Obeliai,93,871,1074,1371,1804,1648,2030.0,1907.0,1328,975,227 žm./km²
Subačius,94,869,1051,1180,1369,1361,1365.0,1216.0,(?),750,334 žm./km²
Vabalninkas,95,857,1057,1328,1905,2205,2063.0,2360.0,1267,2333,221 žm./km²
Smalininkai,96,852,515,653,758,805,953.0,1117.0,1741,(?),223 žm./km²
Dūkštas,97,732,888,1070,1193,1633,1502.0,1964.0,1076,1000,310 žm./km²
Pandėlys,98,692,809,1024,1167,1129,1406.0,1277.0,1000,1221,230 žm./km²
Užventis,99,600,833,898,1149,1229,1406.0,1704.0,(?),945,260 žm./km²
Dusetos,100,531,717,914,1185,1393,1578.0,1806.0,1164,1278,316 žm./km²
Kavarskas,101,503,666,809,972,1113,1256.0,1287.0,1041,1546,443 žm./km²
Troškūnai,102,389,451,525,672,1174,1434.0,1495.0,1252,1000,458 žm./km²
Panemunė,103,217,274,329,398,506,492.0,539.0,637,NaN,112 žm./km²

In [179]:
set_city.drop('Eilė', axis=1, inplace=True)
set_city.drop('Tankumas (2019)', axis=1, inplace=True)

In [181]:
set_city

,2021 m.,2011 m.,2001 m.,1989 m.,1979 m.,1970 m.,1959 m.,1923 m.,1897 m.
Miestas,,,,,,,,,
Vilnius,546155,524406,542287,576747,475825,372100.0,236078.0,167400,154532*
Kaunas,298753,315993,378943,418087,368649,305116.0,219287.0,92446,70920*
Klaipėda,152008,162360,192954,202929,176648,140012.0,90521.0,35845,20100
Šiauliai,100653,109328,133883,145629,118724,93057.0,59722.0,21387,16128*
Panevėžys,89110,99690,119749,126483,102303,73328.0,41096.0,19197,12968*
Alytus,52727,59964,71491,73015,55509,28074.0,12350.0,6322,3445
Marijampolė,36727,41051,48675,50887,38824,28763.0,19621.0,9488,6777
Mažeikiai,33101,37020,42675,43547,25779,13468.0,7957.0,4300,1979
Jonava,27381,30650,34954,36520,28413,14438.0,5005.0,4115,5000
Utena,25343,28997,33860,34430,23461,13319.0,7158.0,4890,3200
Kėdainiai,23461,26648,32048,33840,27886,19677.0,10580.0,7415,6113
Telšiai,22642,25540,31460,33351,26369,20220.0,13460.0,4691,6205*
Ukmergė,21258,23878,28759,30410,26601,21663.0,14880.0,10604,13532*
Tauragė,21203,24389,29124,30119,25966,19461.0,12041.0,5470,6600
Visaginas,19446,22361,29554,32438,6212,NaN,NaN,NaN,NaN
Plungė,17543,20041,23436,22535,18829,13560.0,3672.0,4236,4500
Kretinga,17249,19010,21423,19516,16197,13091.0,9690.0,2532,3418
Palanga,16746,15732,17623,17571,11980,8797.0,5685.0,2000,2400
Šilutė,15952,17775,21476,21179,16000,12401.0,8969.0,4348,2100
Radviliškis,15103,17254,20339,21263,19232,16841.0,12613.0,5464,3900
Gargždai,15065,15021,15212,13409,10042,6414.0,1524.0,4700,3360
Druskininkai,12908,14764,18233,18943,12464,11160.0,5765.0,1000,1280
Rokiškis,11770,14351,16746,17826,13192,9146.0,5520.0,4325,2700
Elektrėnai,11255,12012,14050,15871,8466,6646.0,NaN,NaN,NaN
Kuršėnai,10916,11963,14197,14796,13223,11468.0,9099.0,2900,3200
Biržai,10734,12465,15262,15907,14401,11385.0,8624.0,5315,4413
Garliava,10366,11264,13322,12420,9418,5587.0,2489.0,936,1200
Vilkaviškis,10286,11547,13283,13829,11836,8566.0,5072.0,7263,5788*
Jurbarkas,10186,11232,13797,14310,10644,6575.0,4412.0,4409,7400
Grigiškės,9950,10867,11448,11610,8259,4991.0,2559.0,NaN,NaN
Raseiniai,9865,11203,12541,13211,11403,8931.0,6242.0,5270,7455*
Lentvaris,9713,11105,11773,12964,10167,8059.0,4216.0,2000,385
Prienai,8796,9867,11353,11909,9398,7841.0,5423.0,3260,2477*
Anykščiai,8697,10575,11958,12758,10325,8238.0,5442.0,3500,3900
Joniškis,8612,9899,11329,11773,9303,7522.0,5889.0,4100,4828
Kaišiadorys,8380,8664,10002,10964,9022,4701.0,3011.0,1929,833
Varėna,8202,9240,10845,12291,8015,4494.0,2391.0,407,2624
Naujoji Akmenė,7985,9300,12345,13590,14195,10175.0,5410.0,NaN,NaN
Kelmė,7688,9150,10900,11557,9073,7087.0,5140.0,2900,3914
Šalčininkai,6857,6358,6722,6480,3857,1753.0,1676.0,687,459
Pasvalys,6451,7523,8709,9071,7370,6027.0,4248.0,2211,1699
Kupiškis,6218,7206,8451,8786,6307,4876.0,4127.0,2672,3742
Zarasai,6077,7165,8365,8916,7250,6605.0,4717.0,3785,6359*
Širvintos,5827,6415,7273,7442,5146,3073.0,1652.0,2000,1676
Molėtai,5782,6434,7221,6843,5165,3665.0,1912.0,1770,2397
Kazlų Rūda,5590,6635,7401,7715,6312,4397.0,3478.0,1338,771
Skuodas,5508,6513,7896,8730,7269,4693.0,3131.0,3614,3041
Šakiai,5462,6051,6795,7226,5955,4227.0,2998.0,2044,2211*
Trakai,5426,4933,5725,6703,5763,4667.0,3075.0,(??),3240*
Ignalina,5106,6007,6591,6872,4927,3515.0,2466.0,1500,300
Pabradė,4918,5994,6525,7360,6655,5919.0,4489.0,1835,503
Nemenčinė,4831,5054,5892,5612,4075,3208.0,2081.0,(??),420
Švenčionėliai,4748,5771,6923,7712,6566,5964.0,4920.0,(??),(?)
Šilalė,4729,5492,6281,6308,4242,2975.0,1972.0,1058,1502
Pakruojis,4594,5139,6057,6218,4809,3852.0,2427.0,1184,1420
Švenčionys,4448,4963,5684,6469,5284,4616.0,4006.0,(??),6025*
Vievis,4311,4915,5303,5663,4581,2957.0,2275.0,414,725
Kybartai,4126,5631,6556,7064,6676,6430.0,6240.0,6300,2364
Lazdijai,4016,4531,5140,5485,4364,3928.0,3109.0,2364,2538
Kalvarija,3982,4457,5090,5701,5879,5600.0,4698.0,4529,9378*
Neringa,3609,2570,2386,2478,2242,1944.0,1468.0,NaN,NaN
Rietavas,3234,3251,3979,4490,4072,3421.0,2882.0,1720,3000
Žiežmariai,3158,3607,3884,3523,2622,1733.0,1598.0,2346,2616
Birštonas,3072,2646,3225,3537,2350,2228.0,1317.0,268,343
Eišiškės,2908,3416,3765,3789,3467,3477.0,2532.0,2382,3196
Ariogala,2743,3208,3697,4033,3646,2979.0,2360.0,1197,2376
Šeduva,2421,2895,3400,3584,3347,3309.0,3253.0,3186,4474*
Akmenė,2355,2593,3140,3458,3075,2499.0,1819.0,1453,1501
Venta,2250,2392,3412,3827,3240,2534.0,1718.0,NaN,NaN
Viekšniai,2249,1938,2270,2410,2781,2731.0,2374.0,2024,2951
Rūdiškės,1985,2300,2559,2489,2249,2037.0,1483.0,(??),(?)
Tytuvėnai,1850,2302,2851,3058,3111,3145.0,2206.0,1164,1000
Vilkija,1762,2131,2338,2629,2371,2277.0,1957.0,2068,2012
Ežerėlis,1640,1820,2051,2151,2060,2110.0,2189.0,132,NaN
Pagėgiai,1576,1941,2393,2568,2696,3332.0,3436.0,1404,662
Gelgaudiškis,1572,1761,2029,2724,2018,1835.0,1212.0,613,691
Skaudvilė,1427,1720,2140,2436,2465,2657.0,2723.0,1362,1390
Kudirkos Naumiestis,1381,1732,1997,2061,2090,2437.0,2574.0,3067,4595*
Žagarė,1326,1712,2312,2649,2918,3381.0,3823.0,4730,8285
Linkuva,1283,1550,1797,2025,1876,1913.0,2144.0,1851,2077
Salantai,1272,1615,1942,2431,2086,2156.0,2321.0,1942,2446
Simnas,1247,1514,1980,2313,1625,1709.0,1661.0,1549,1642
Priekulė,1245,1413,1725,1826,1864,1853.0,1823.0,1101,(?)
Ramygala,1241,1581,1733,2018,2302,2113.0,1882.0,1329,1246
Veisiejai,1141,1430,1762,2079,1687,1463.0,1513.0,1295,1540
Jieznas,1047,1230,1476,1883,1854,2126.0,1797.0,1000,1255
Joniškėlis,1026,1201,1477,1585,1776,1871.0,2592.0,568,670
Daugai,1016,1170,1458,2144,2054,1530.0,1287.0,1153,1288
Baltoji Vokė,998,1101,1073,1128,959,1066.0,1086.0,NaN,NaN
Seda,903,1138,1309,1500,1679,1822.0,2133.0,1851,2062
Virbalis,885,1095,1351,1566,1635,1487.0,1429.0,4018,3293*
Varniai,884,1140,1355,2028,2059,2030.0,1902.0,(?),2834
Obeliai,871,1074,1371,1804,1648,2030.0,1907.0,1328,975
Subačius,869,1051,1180,1369,1361,1365.0,1216.0,(?),750
Vabalninkas,857,1057,1328,1905,2205,2063.0,2360.0,1267,2333
Smalininkai,852,515,653,758,805,953.0,1117.0,1741,(?)
Dūkštas,732,888,1070,1193,1633,1502.0,1964.0,1076,1000
Pandėlys,692,809,1024,1167,1129,1406.0,1277.0,1000,1221
Užventis,600,833,898,1149,1229,1406.0,1704.0,(?),945
Dusetos,531,717,914,1185,1393,1578.0,1806.0,1164,1278
Kavarskas,503,666,809,972,1113,1256.0,1287.0,1041,1546
Troškūnai,389,451,525,672,1174,1434.0,1495.0,1252,1000
Panemunė,217,274,329,398,506,492.0,539.0,637,NaN

In [182]:
year_list = set_city.columns.tolist()
year_list

['2021\xa0m.',
 '2011\xa0m.',
 '2001\xa0m.',
 '1989\xa0m.',
 '1979\xa0m.',
 '1970\xa0m.',
 '1959\xa0m.',
 '1923\xa0m.',
 '1897\xa0m.']

In [183]:
new_list = []
for item in year_list:
    fixed = item.replace('\xa0m.', '')
    new_list.append(fixed)

set_city.columns = new_list
new_list

['2021', '2011', '2001', '1989', '1979', '1970', '1959', '1923', '1897']

In [184]:
set_city.fillna(0, inplace=True)

In [185]:
set_city.replace(['(??)', '(?)'], int(0), inplace=True)

In [186]:
set_city

,2021,2011,2001,1989,1979,1970,1959,1923,1897
Miestas,,,,,,,,,
Vilnius,546155,524406,542287,576747,475825,372100.0,236078.0,167400,154532*
Kaunas,298753,315993,378943,418087,368649,305116.0,219287.0,92446,70920*
Klaipėda,152008,162360,192954,202929,176648,140012.0,90521.0,35845,20100
Šiauliai,100653,109328,133883,145629,118724,93057.0,59722.0,21387,16128*
Panevėžys,89110,99690,119749,126483,102303,73328.0,41096.0,19197,12968*
Alytus,52727,59964,71491,73015,55509,28074.0,12350.0,6322,3445
Marijampolė,36727,41051,48675,50887,38824,28763.0,19621.0,9488,6777
Mažeikiai,33101,37020,42675,43547,25779,13468.0,7957.0,4300,1979
Jonava,27381,30650,34954,36520,28413,14438.0,5005.0,4115,5000
Utena,25343,28997,33860,34430,23461,13319.0,7158.0,4890,3200
Kėdainiai,23461,26648,32048,33840,27886,19677.0,10580.0,7415,6113
Telšiai,22642,25540,31460,33351,26369,20220.0,13460.0,4691,6205*
Ukmergė,21258,23878,28759,30410,26601,21663.0,14880.0,10604,13532*
Tauragė,21203,24389,29124,30119,25966,19461.0,12041.0,5470,6600
Visaginas,19446,22361,29554,32438,6212,0.0,0.0,0,0
Plungė,17543,20041,23436,22535,18829,13560.0,3672.0,4236,4500
Kretinga,17249,19010,21423,19516,16197,13091.0,9690.0,2532,3418
Palanga,16746,15732,17623,17571,11980,8797.0,5685.0,2000,2400
Šilutė,15952,17775,21476,21179,16000,12401.0,8969.0,4348,2100
Radviliškis,15103,17254,20339,21263,19232,16841.0,12613.0,5464,3900
Gargždai,15065,15021,15212,13409,10042,6414.0,1524.0,4700,3360
Druskininkai,12908,14764,18233,18943,12464,11160.0,5765.0,1000,1280
Rokiškis,11770,14351,16746,17826,13192,9146.0,5520.0,4325,2700
Elektrėnai,11255,12012,14050,15871,8466,6646.0,0.0,0,0
Kuršėnai,10916,11963,14197,14796,13223,11468.0,9099.0,2900,3200
Biržai,10734,12465,15262,15907,14401,11385.0,8624.0,5315,4413
Garliava,10366,11264,13322,12420,9418,5587.0,2489.0,936,1200
Vilkaviškis,10286,11547,13283,13829,11836,8566.0,5072.0,7263,5788*
Jurbarkas,10186,11232,13797,14310,10644,6575.0,4412.0,4409,7400
Grigiškės,9950,10867,11448,11610,8259,4991.0,2559.0,0,0
Raseiniai,9865,11203,12541,13211,11403,8931.0,6242.0,5270,7455*
Lentvaris,9713,11105,11773,12964,10167,8059.0,4216.0,2000,385
Prienai,8796,9867,11353,11909,9398,7841.0,5423.0,3260,2477*
Anykščiai,8697,10575,11958,12758,10325,8238.0,5442.0,3500,3900
Joniškis,8612,9899,11329,11773,9303,7522.0,5889.0,4100,4828
Kaišiadorys,8380,8664,10002,10964,9022,4701.0,3011.0,1929,833
Varėna,8202,9240,10845,12291,8015,4494.0,2391.0,407,2624
Naujoji Akmenė,7985,9300,12345,13590,14195,10175.0,5410.0,0,0
Kelmė,7688,9150,10900,11557,9073,7087.0,5140.0,2900,3914
Šalčininkai,6857,6358,6722,6480,3857,1753.0,1676.0,687,459
Pasvalys,6451,7523,8709,9071,7370,6027.0,4248.0,2211,1699
Kupiškis,6218,7206,8451,8786,6307,4876.0,4127.0,2672,3742
Zarasai,6077,7165,8365,8916,7250,6605.0,4717.0,3785,6359*
Širvintos,5827,6415,7273,7442,5146,3073.0,1652.0,2000,1676
Molėtai,5782,6434,7221,6843,5165,3665.0,1912.0,1770,2397
Kazlų Rūda,5590,6635,7401,7715,6312,4397.0,3478.0,1338,771
Skuodas,5508,6513,7896,8730,7269,4693.0,3131.0,3614,3041
Šakiai,5462,6051,6795,7226,5955,4227.0,2998.0,2044,2211*
Trakai,5426,4933,5725,6703,5763,4667.0,3075.0,0,3240*
Ignalina,5106,6007,6591,6872,4927,3515.0,2466.0,1500,300
Pabradė,4918,5994,6525,7360,6655,5919.0,4489.0,1835,503
Nemenčinė,4831,5054,5892,5612,4075,3208.0,2081.0,0,420
Švenčionėliai,4748,5771,6923,7712,6566,5964.0,4920.0,0,0
Šilalė,4729,5492,6281,6308,4242,2975.0,1972.0,1058,1502
Pakruojis,4594,5139,6057,6218,4809,3852.0,2427.0,1184,1420
Švenčionys,4448,4963,5684,6469,5284,4616.0,4006.0,0,6025*
Vievis,4311,4915,5303,5663,4581,2957.0,2275.0,414,725
Kybartai,4126,5631,6556,7064,6676,6430.0,6240.0,6300,2364
Lazdijai,4016,4531,5140,5485,4364,3928.0,3109.0,2364,2538
Kalvarija,3982,4457,5090,5701,5879,5600.0,4698.0,4529,9378*
Neringa,3609,2570,2386,2478,2242,1944.0,1468.0,0,0
Rietavas,3234,3251,3979,4490,4072,3421.0,2882.0,1720,3000
Žiežmariai,3158,3607,3884,3523,2622,1733.0,1598.0,2346,2616
Birštonas,3072,2646,3225,3537,2350,2228.0,1317.0,268,343
Eišiškės,2908,3416,3765,3789,3467,3477.0,2532.0,2382,3196
Ariogala,2743,3208,3697,4033,3646,2979.0,2360.0,1197,2376
Šeduva,2421,2895,3400,3584,3347,3309.0,3253.0,3186,4474*
Akmenė,2355,2593,3140,3458,3075,2499.0,1819.0,1453,1501
Venta,2250,2392,3412,3827,3240,2534.0,1718.0,0,0
Viekšniai,2249,1938,2270,2410,2781,2731.0,2374.0,2024,2951
Rūdiškės,1985,2300,2559,2489,2249,2037.0,1483.0,0,0
Tytuvėnai,1850,2302,2851,3058,3111,3145.0,2206.0,1164,1000
Vilkija,1762,2131,2338,2629,2371,2277.0,1957.0,2068,2012
Ežerėlis,1640,1820,2051,2151,2060,2110.0,2189.0,132,0
Pagėgiai,1576,1941,2393,2568,2696,3332.0,3436.0,1404,662
Gelgaudiškis,1572,1761,2029,2724,2018,1835.0,1212.0,613,691
Skaudvilė,1427,1720,2140,2436,2465,2657.0,2723.0,1362,1390
Kudirkos Naumiestis,1381,1732,1997,2061,2090,2437.0,2574.0,3067,4595*
Žagarė,1326,1712,2312,2649,2918,3381.0,3823.0,4730,8285
Linkuva,1283,1550,1797,2025,1876,1913.0,2144.0,1851,2077
Salantai,1272,1615,1942,2431,2086,2156.0,2321.0,1942,2446
Simnas,1247,1514,1980,2313,1625,1709.0,1661.0,1549,1642
Priekulė,1245,1413,1725,1826,1864,1853.0,1823.0,1101,0
Ramygala,1241,1581,1733,2018,2302,2113.0,1882.0,1329,1246
Veisiejai,1141,1430,1762,2079,1687,1463.0,1513.0,1295,1540
Jieznas,1047,1230,1476,1883,1854,2126.0,1797.0,1000,1255
Joniškėlis,1026,1201,1477,1585,1776,1871.0,2592.0,568,670
Daugai,1016,1170,1458,2144,2054,1530.0,1287.0,1153,1288
Baltoji Vokė,998,1101,1073,1128,959,1066.0,1086.0,0,0
Seda,903,1138,1309,1500,1679,1822.0,2133.0,1851,2062
Virbalis,885,1095,1351,1566,1635,1487.0,1429.0,4018,3293*
Varniai,884,1140,1355,2028,2059,2030.0,1902.0,0,2834
Obeliai,871,1074,1371,1804,1648,2030.0,1907.0,1328,975
Subačius,869,1051,1180,1369,1361,1365.0,1216.0,0,750
Vabalninkas,857,1057,1328,1905,2205,2063.0,2360.0,1267,2333
Smalininkai,852,515,653,758,805,953.0,1117.0,1741,0
Dūkštas,732,888,1070,1193,1633,1502.0,1964.0,1076,1000
Pandėlys,692,809,1024,1167,1129,1406.0,1277.0,1000,1221
Užventis,600,833,898,1149,1229,1406.0,1704.0,0,945
Dusetos,531,717,914,1185,1393,1578.0,1806.0,1164,1278
Kavarskas,503,666,809,972,1113,1256.0,1287.0,1041,1546
Troškūnai,389,451,525,672,1174,1434.0,1495.0,1252,1000
Panemunė,217,274,329,398,506,492.0,539.0,637,0

In [188]:
def remove_star(text):
    if type(text) == str:
        return int(text.replace('*', ''))
    return text

In [208]:
set_city.info()

<class 'pandas.core.frame.DataFrame'>
Index: 103 entries, Vilnius to Panemunė
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2021    103 non-null    int64
 1   2011    103 non-null    int64
 2   2001    103 non-null    int64
 3   1989    103 non-null    int64
 4   1979    103 non-null    int64
 5   1970    103 non-null    int64
 6   1959    103 non-null    int64
 7   1923    103 non-null    int64
 8   1897    103 non-null    int64
dtypes: int64(9)
memory usage: 12.1+ KB

In [192]:
def remove_zero(f):
    return int(f)

In [193]:
def make_int(f):
    return int(f)

In [194]:
set_city['1959'] = set_city['1959'].apply(remove_zero)

In [195]:
set_city['1959']

Miestas
Vilnius                236078
Kaunas                 219287
Klaipėda                90521
Šiauliai                59722
Panevėžys               41096
Alytus                  12350
Marijampolė             19621
Mažeikiai                7957
Jonava                   5005
Utena                    7158
Kėdainiai               10580
Telšiai                 13460
Ukmergė                 14880
Tauragė                 12041
Visaginas                   0
Plungė                   3672
Kretinga                 9690
Palanga                  5685
Šilutė                   8969
Radviliškis             12613
Gargždai                 1524
Druskininkai             5765
Rokiškis                 5520
Elektrėnai                  0
Kuršėnai                 9099
Biržai                   8624
Garliava                 2489
Vilkaviškis              5072
Jurbarkas                4412
Grigiškės                2559
Raseiniai                6242
Lentvaris                4216
Prienai                  5423
Anykščiai                5442
Joniškis                 5889
Kaišiadorys              3011
Varėna                   2391
Naujoji Akmenė           5410
Kelmė                    5140
Šalčininkai              1676
Pasvalys                 4248
Kupiškis                 4127
Zarasai                  4717
Širvintos                1652
Molėtai                  1912
Kazlų Rūda               3478
Skuodas                  3131
Šakiai                   2998
Trakai                   3075
Ignalina                 2466
Pabradė                  4489
Nemenčinė                2081
Švenčionėliai            4920
Šilalė                   1972
Pakruojis                2427
Švenčionys               4006
Vievis                   2275
Kybartai                 6240
Lazdijai                 3109
Kalvarija                4698
Neringa                  1468
Rietavas                 2882
Žiežmariai               1598
Birštonas                1317
Eišiškės                 2532
Ariogala                 2360
Šeduva                   3253
Akmenė                   1819
Venta                    1718
Viekšniai                2374
Rūdiškės                 1483
Tytuvėnai                2206
Vilkija                  1957
Ežerėlis                 2189
Pagėgiai                 3436
Gelgaudiškis             1212
Skaudvilė                2723
Kudirkos Naumiestis      2574
Žagarė                   3823
Linkuva                  2144
Salantai                 2321
Simnas                   1661
Priekulė                 1823
Ramygala                 1882
Veisiejai                1513
Jieznas                  1797
Joniškėlis               2592
Daugai                   1287
Baltoji Vokė             1086
Seda                     2133
Virbalis                 1429
Varniai                  1902
Obeliai                  1907
Subačius                 1216
Vabalninkas              2360
Smalininkai              1117
Dūkštas                  1964
Pandėlys                 1277
Užventis                 1704
Dusetos                  1806
Kavarskas                1287
Troškūnai                1495
Panemunė                  539
Name: 1959, dtype: int64

In [197]:
set_city['1970'] = set_city['1970'].apply(remove_zero)

In [199]:
set_city['1923'] = set_city['1923'].apply(make_int)

In [207]:
set_city['1897'] = set_city['1897'].apply(remove_star)

In [177]:
set_city.info()

<class 'pandas.core.frame.DataFrame'>
Index: 103 entries, Vilnius to Panemunė
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2021    103 non-null    int64
 1   2011    103 non-null    int64
 2   2001    103 non-null    int64
 3   1989    103 non-null    int64
 4   1979    103 non-null    int64
 5   1970    103 non-null    float64
 6   1959    103 non-null    int64
 7   1923    103 non-null    object
 8   1897    103 non-null    object
dtypes: float64(1), int64(6), object(2)
memory usage: 12.1+ KB